@import url("reset.css");
@import url("fonts.css");

.test-work {
    max-width: 1200px;
    height: auto;
    background-color: chartreuse;
    margin: 0 auto;
}

.main-window {
    margin-top: 20px;
    max-width: 100%;
    height: 700px;
    margin-bottom: 40px;
    /* background-image: url("../img/nature.jpg");
    background-repeat: repeat-x;
    background-size: cover; */

    background: url("../img/nature.jpg") 0 0 / cover no-repeat;
    padding: 20px 50px;
}

.main-work-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.block__place {}

.block__1,
.block__2,
.block__3,
.block__4,
.block__5,
.block__6,
.block__7 {
    padding: 20px;
    text-align: justify;
    max-width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
    display: inline-block;
}

.block__1 {
    color: white;
    background-image: linear-gradient(55deg, #ff9100 0%, #38251a 100%);
}

.block__2 {
    background-image: url("../img/sky.jpg");
    background-size: 50px;
    /* background-repeat: repeat-x; */
    background-repeat: repeat-y;
    background-position: 40px center;
}

.block__3 {
    background-image: url("../img/mount.jpg");
    background-position: center;
}

.block__4 {
    background-image: url("../img/mount.jpg");
    /* background-size: contain; */
    background-size: cover;
    /* background-attachment: fixed; */
    /* fixed працює, але погано видно, тому закоментував */
}

.block__5 {
    background: url("../img/sand.jpg") center 100px no-repeat;
}

.block__6 {
    color: white;
    background: url("../img/sand.jpg") center / cover no-repeat;
}

.block__7 {
    /* color: white; */
    background: linear-gradient(15deg, #fafafa 0%, #070606 100%) 0 0 / 100px no-repeat,
        linear-gradient(35deg, #0e0d0d00 0%, #ff0000 100%) 100px 0 / 100px no-repeat;
}










/* container 1 */

.container-1 {
    max-width: 675px;
    margin: 0 auto;
    color: #7D7D7D;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}

.over-title-cont-1 {
    margin-bottom: 16px;
}

.square {
    width: 12px;
    height: 12px;
    background-color: rgba(64, 221, 182, 1);
    display: inline-block;
}

.over-title-cont-1 h3 {
    color: #37393F;
    font-weight: 500;
    display: inline-block;
    margin-left: 6px;

}

.content-1 {
    margin-bottom: 50px;
}

.content-1 h2 {
    color: #37393F;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.text p {
    margin-bottom: 16px;
}

.text {
    margin-bottom: 48px;
}

.table,
.table-2 {
    border: 1px solid #00000094;
    padding: 28px 41px 28px 38px;
    margin-bottom: 31px;
}

.table h3 {
    color: #37393F;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    min-height: 30px;
    padding-left: 46px;
}

.table-2 h3 {
    color: #37393F;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    min-height: 30px;
    padding-left: 46px;
}

.text-table {}

.table-2 {
    margin-bottom: 48px;
}

.button-place {
    display: inline-block;
}

.button {
    max-width: 200px;
    height: 65px;
    background-color: rgba(107, 119, 229, 1);
    padding: 21px 30px;
}

.button a {
    color: white;

    font-weight: 600;
}

/* container 1 */




/* container-2 */

.container-2 {
    width: 1220px;
    margin: 0 auto;
}

.square-2 {
    width: 12px;
    height: 12px;
    background-color: rgba(64, 221, 182, 1);
    display: inline-block;
}

.over-title-cont-2 h3 {
    color: #37393F;
    font-weight: 500;
    display: inline-block;
    margin-left: 6px;
    font-size: 18px;
    margin-bottom: 14px;
}

.pre-title h2 {
    color: #37393F;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 14px;
}

.pre-title {
    margin-bottom: 47px;
}

.over-title-cont-2,
.pre-title {
    text-align: center;
}

.text-2 p {
    color: #7D7D7D;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.44;
}

.photo-place-1,
.photo-place-2 {
    margin-bottom: 58px;
}


.photo-1,
.photo-2,
.photo-3,
.photo-4,
.photo-5,
.photo-6 {
    width: 384px;
    height: 582px;
    padding: 525px 170px 30px 0;
    display: inline-block;
}

.photo-1 {
    background: url("../img/List-1.png") no-repeat;
}

.photo-2 {
    background: url("../img/List-2.png") no-repeat;
    margin: 0 30px;
}

.photo-3 {
    background: url("../img/List-3.png") no-repeat;
}

.photo-4 {
    background: url("../img/List-4.png") no-repeat;
}

.photo-5 {
    background: url("../img/List-5.png") no-repeat;
    margin: 0 30px;
}

.photo-6 {
    background: url("../img/List-6.png") no-repeat;
}

.photo-place-1 p,
.photo-place-2 p {
    color: #37393F;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 10px;
}

.calendar {
    background: url("../img/Calendar.svg") 0 -2px no-repeat;
    min-height: 22px;
    padding-left: 24px;
}

.time {
    font-size: 14px;
    line-height: 1.25;
}

/* container 2 */



/* container 3 */
.container-3 {
    max-width: 1240px;
    margin: 0 auto;
    font-family: "Causten", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #807D7E;
    letter-spacing: 0.40px;
    margin-bottom: 50px;
}

.title-container-3 {
    margin-bottom: 30px;
}

.title-container-3 h2 {
    color: #3C4242;
    font-size: 28px;
    font-family: "CoreSansC65", sans-serif;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.56px;
    background: url("../img/pink.svg") no-repeat;
    min-height: 28px;
    padding-left: 21px;
}

.sub-title-container-3 {
    margin-bottom: 25px;
}

.sub-title-container-3 h3 {
    font-family: "CoreSansC65", sans-serif;
    font-weight: 600;
    line-height: 1.65;
}

.sub-title-container-3 a {
    margin-bottom: 25px;
    color: #807D7E;
    /* font-size: 20px; */
    font-family: "CoreSansC65", sans-serif;
    font-weight: 600;
    line-height: 1.65;
}

.text-container-3 {
    line-height: 1.65;
    margin-bottom: 25px;

}

.text-container-3 p {
    margin-bottom: 20px;
}

.text-container-3,
.sub-title-container-3 {
    padding-left: 21px;
}

.container-3 span {
    color: #807D7E;
    /* font-family: "Causten", sans-serif; */
    font-weight: 700;
}

/* container 3 */






/* conyainer 4 */
.container-4 {
    max-width: 1242px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

.image-1 {
    background: url("../img/unsplash_1.png") no-repeat;
    width: 614px;
    height: 640px;
    display: inline-block;
    padding: 183px 74px 0;
}

.image-2 {
    background: url("../img/Rectangle-2.png") no-repeat;
    width: 626px;
    height: 640px;
    display: inline-block;
    margin-left: -4px;
    padding: 183px 74px 0;
}


.image-1 h2 {
    font-size: 34px;
    font-family: "CoreSansC65", sans-serif;
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: 0.21px;
    margin-bottom: 30px;
}

.image-2 h2 {
    font-size: 34px;
    font-family: "CoreSansC65", sans-serif;
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: 0.21px;
    margin-bottom: 30px;
}


.image-text {
    margin-bottom: 50px;
}

.image-text p {
    font-family: "Causten", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.button-image {
    width: 168px;
    height: 46px;
    background-color: white;
    color: #3C4242;
    font-size: 18px;
    font-family: "Causten", sans-serif;
    font-weight: 600;
    padding: 12px 42px;
    border-radius: 8px;
}

.shadow-section {
    visibility: hidden;
}

/*
Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або 
значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black
*/