//
@import "_reset.scss";


@import "_fonts.scss";



.wrapper{
    overflow: clip;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper main{
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1267px;
    margin: 0 auto;
    padding: 0 15px;
}
// ==============================================

$mainColor: #807D7E;
$mainFont: "Causten", sans-serif;
$coreSansFont: "Core Sans C", sans-serif;
$MontserratFont: "Montserrat", sans-serif;
$colorWhite: #fff;
$colorFooter: #F6F6F6;

// ===================================================
// ===================================================
// ===================================================
// ===================================================


.header {
    // min-height: 100px;
    padding: 31px 0;
    background-color: #fff;
    border-bottom: 1px solid #807D7E;

    &--fixed{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
		// .header__container

		&__container {
           display: flex;
           gap: 16px;
           justify-content: space-between;
           align-items: center;
		}

		// .header__logo

		&__logo {
            flex: 0 1 91px;
            aspect-ratio: 91 / 45;
            object-fit: cover; 
            width: 100%;
		}

		// .header__badge

		&__badge {
		}
   
}
.menu__burger{
    display: none;
    
}
.menu {
    flex-grow: 0;
    flex-shrink: 1;
    // flex-basis: 473px;
		// .menu__body

		&__body {
            display: grid;
            grid-template-columns: repeat(5, minmax(min-content, max-content));
            gap: 40px;
            justify-items: center;
		}

		// .menu__item
        &__item {
            color: $mainColor;
            font-size: 22px;
            font-family: $mainFont;
            font-weight: 500;
            
            @media(hover: hover){
                &:hover {
                    .menu__link{ /* Звернення до &__link всередині &__item при наведенні */
                     color: #3b3b3b; 
                    }
                }
            }
        }
        
		// .menu__link

        &__link {
            transition: color 0.3s;
            &--active {
                color: #000;
            }
        }

}
.search {
    flex: 0 1 267px;
    @media(hover: hover){
        &:hover {
            .search__input{ 
                border: 1px solid $mainColor;
            }
        }
    }
		// .search__form

		&__form {
		}

		// .search__input
        &__input {
            transition: border 0.3s;
            border: 1px solid transparent;
            width: 100%;
            height: 44px;
            padding: 0 20px;
            padding-left: 40px;
            background-color: rgba(246, 246, 246, 1);
            border-radius: 8px;
            
            &::placeholder{
                color: $mainColor;
                font-size: 16px;
                font-family: $mainFont;
                font-weight: 400;
                background-image: url('../img/header/search.svg');
                background-size: 20px; 
                background-size: 20px 20px;
                background-repeat: no-repeat;
                background-position: 15px center;
            }
           
        }
        
}
.badge {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    grid-template-rows: 44px;
		// .badge__item
    
		&__item {
            background-color: rgba(246, 246, 246, 1);
            padding: 12px;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: 1px solid transparent;
            transition: border 0.3s;
            @media(hover: hover){
                &:hover {
                    border: 1px solid $mainColor;
                    img{ 
                     transform: scale(1.2); 
                    }
                }
            }
            img{
                transition: transform 0.3s;
                max-width: 20px;
               width: 100%;
                aspect-ratio: 20 / 20;
                object-fit: cover; 
            }
		}
}



// ===========================================================================================================
// ===========================================================================================================

.page {
    padding-top: 107px;
    display: flex;
    flex-direction: column;
    // .page__hero

    &__hero {
        flex-grow: 1;
    }
}
.hero {
    &--margin{
        margin-bottom: 130px;
    }
    &__front {
        position: relative;
    
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 40%;
            left: 5%;
            width: 24px;
            height: 44px;
             background: url("../img/page/hero/left-arrow.svg") 0 0 / cover no-repeat; 
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 40%;
            right: 5%;
            width: 24px;
            height: 44px;
             background: url("../img/page/hero/right-arrow.svg") 0 0 / cover no-repeat; 
        }
    }
    
  
    // .hero__background
    &__background {
        z-index: 1;
        aspect-ratio: 1449 / 716;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .hero__container

    &__container {
       
    }
    
    // .hero__body

    &__body {
        position: absolute;
        top: 0;
        height: 100%;
        padding-top: 129px;
        padding-left: 89px;
        // display: flex;
        // flex-direction: column;
        // gap: 73px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1059px, 1fr));
        gap: 73px;
        align-items: center;
        padding-bottom: 59px;
     
    }

    // .hero__content

    &__content {
        color: white;
        font-family: $coreSansFont;
        font-weight: 500;
        max-width: 479px;
        // flex-grow: 1;
    }
    &__content >*{
        margin-bottom: 40px;
    }

    // .hero__over-title

    &__over-title {
        font-size: 32px;
        text-transform: capitalize;
        line-height: 1.15;
        letter-spacing: 0.16px;
    }

    // .hero__title

    &__title {
        font-size: 78px;
        font-weight: 800;
        line-height: 1.1;
        letter-spacing: 0.31px;
    }

    // .hero__path-content

    &__path-content {
        font-size: 32px;
        line-height: 1.4;
        letter-spacing: 0.31px;
    }

    // .hero__button

    &__button {
        color: #3C4242;
        font-size: 24px;
        font-family: $mainFont;
        font-weight: 700;
        background-color: #fff;
        border-radius: 6px;
        padding: 16px 72px;
        transition: background-color 0.3s;
        @media(hover: hover){
            &:hover {
                background-color: #c5c5c5;
            }
        }
    }
    &__content >*:last-child{
        margin-bottom: 0;
    }


    // .hero__line-bar

    &__line-bar {
        justify-self: center;
        display: flex;
        align-self: center;
        align-items: center;
    }

    // .hero__line-bar-left

    &__line-bar-left {
        width: 63px;
        height: 10px;
        background-color: #fff;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    // .hero__line-bar-right

    &__line-bar-right {
        width: 63px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    
    }


}

// ========================================


.preview {
    &--margin{
        margin-bottom: 100px;
    }
    // .preview__container

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    // .preview__block

    &__block {
        position: relative;
        box-shadow: 8px 6px 60px -1px rgba(0, 0, 0, 0.479);
        border-radius: 12px;
        @media(hover:hover){
            &:hover{
                .preview__background{
                    transform: scale(1.1);}
            }
        }
    }

    // .preview__background
    &__link-img{
        overflow: hidden;
        border-radius: 12px;
        max-width: 604px;
        height: 100%;
    }
    &__background {
        aspect-ratio: 604 / 335;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 12px;
      transition: transform 0.4s;
    }

    // .preview__content
    &__content >*{
        margin-bottom: 10px;
    }
    &__content {
        font-family: $coreSansFont;
        color: $colorWhite;
        position: absolute;
        left: 28px;
        top: 64px;
        max-width: 264px;
    }

    // .preview__over-title

    &__over-title {
        font-size: 18px;
        font-family: $MontserratFont;
        font-weight: 800;
        margin-bottom: 25px;
    }

    // .preview__title

    &__title {
font-size: 34px;
font-weight: 800;
line-height: 1.2;
    }

    // .preview__sub-title

    &__sub-title {
        font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.25px;
margin-bottom: 40px;
    }

    // .preview__link

    &__link {
        font-size: 20px;
font-weight: 800;
text-decoration: underline;
line-height: 1.5;
transition: color 0.3s;
@media(hover:hover){
    &:hover{
        color:rgb(49, 49, 49);
    }
}
    }
    &__content >*:last-child{
        margin-bottom: 0;
    }
}

// ===========================================================================================================
// ===========================================================================================================

.footer {
    color: $colorFooter;
    background-color: rgba(60, 66, 66, 1);
    padding: 59px 0;
    font-family: $mainFont;

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
        // max-width: 1059px;
        // margin: 0 auto;
    }

    // .footer__navigation

    &__navigation {
          max-width: 1059px;
         margin: 0 auto;
    }

    // .footer__link-area

    &__link-area {
        padding-bottom: 49px;
        border-bottom: 1px solid rgba(190, 188, 189, 1);
        margin-bottom: 20px;
    }

    // .footer__categories

    &__categories {
        display: grid;
        grid-template-columns: repeat(2, 0.3fr);
        align-items: center;
        justify-content: space-between;
        justify-items: start;
        // max-width: 1059px;
        // margin: 0 auto;
        padding-left: 80px;
        padding-right: 34px;
        padding-bottom: 28px;
        border-bottom: 1px solid rgba(190, 188, 189, 1);
        margin-bottom: 20px;
    }

    // .footer__title-categories

    &__title-categories {
        color: #F6F6F6;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;

        //Strange, but does not works. Why?

    // &:hover {
    //     .footer__arrow {
    //         transform: rotate(-180deg);
    //     }
    // }
    }

    // .footer__arrow

    &__arrow {
        justify-self: end;
        transition: transform 0.3s;
    }

    // .footer__foot

    &__foot {
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
    }
}
.navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
    margin-bottom: 10px;

    // .navigation__block

    &__block {
        &:nth-child(4){
            grid-column-start: 4;
            grid-column-end: 6;
        }
    }

    // .navigation__title

    &__title { 
        font-size: 28px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    // .navigation__list

    &__list {
        
    }
    &__item{
        &:not(:last-child){
            margin-bottom: 8px;
        }
    }

    // .navigation__link

    &__link {
        color: $colorFooter;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.8;
        transition: color 0.3s;
        @media(hover:hover){
            &:hover{
                color: #999999;
                text-decoration: underline;
            }
        }
    }
}

.link-area {
   
&__content{ 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: end;
    justify-items:start;
    max-width: 1059px;
    margin: 0 auto;
}
    &__social {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(44px, 1fr));
        // grid-template-columns: 44px 44px 44px 44px;
        // gap: 10px;
        display: inline-flex;
        gap: 10px;
    }

    // .link-area__icon-social

    &__icon-social {
       flex: 0 0 37px;
       aspect-ratio: 37/ 37;
       object-fit: cover;
       width: 100%;
       transition: transform 0.2s;
       @media(hover:hover){
        &:hover{
            transform: scale(1.1);
        }
       }
    }

    // .link-area__app

    &__app {
        grid-column-start: 4;
        grid-column-end: 6;
    }

    // .link-area__title-app

    &__title-app {
        font-size: 28px;
        font-weight: 700;
        line-height: 2;
        margin-bottom: 15px;
    }

    // .link-area__app-link

    &__app-link {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 21px;
    }

    // .link-area__app-name

    &__app-name {
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        border: 1px solid transparent;
        @media(hover:hover){
            &:hover{
                border: 1px solid $colorFooter;
            }
           }
    }
}







// =============================================================================================================

@import "_media.scss";


// .footer {

    // .footer__container

    // &__container {
    // }

    // .footer__body

    // &__body {
    // }

    // .footer__title

    // &__title {
    // }
// }

