@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
select {
  border-radius: 0;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Bold.woff2") format("woff2"), url("../fonts/causten/Causten-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/causten/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Medium.woff2") format("woff2"), url("../fonts/causten/Causten-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Regular.woff2") format("woff2"), url("../fonts/causten/Causten-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core_sans/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/core_sans/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core_sans/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/core_sans/CoreSansC-65Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core_sans/CoreSansC-85Heavy.woff2") format("woff2"), url("../fonts/core_sans/CoreSansC-85Heavy.woff") format("woff");
  font-weight: 800;
}
/* Causten 500 700 600 400 */
/* Core Sans 65  500 600  700 800 */
/* Montserrat 800 */
/*
Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або 
значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black
*/
.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1267px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 31px 0;
  background-color: #fff;
  border-bottom: 1px solid #807D7E;
}
.header--fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 91px;
          flex: 0 1 91px;
  aspect-ratio: 91/45;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.menu__burger {
  display: none;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.menu__body {
  display: grid;
  grid-template-columns: repeat(5, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  gap: 40px;
  justify-items: center;
}
.menu__item {
  color: #807D7E;
  font-size: 22px;
  font-family: "Causten", sans-serif;
  font-weight: 500;
}
@media (hover: hover) {
  .menu__item:hover .menu__link { /* Звернення до &__link всередині &__item при наведенні */
    color: #3b3b3b;
  }
}
.menu__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link--active {
  color: #000;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 267px;
          flex: 0 1 267px;
}
@media (hover: hover) {
  .search:hover .search__input {
    border: 1px solid #807D7E;
  }
}
.search__input {
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  border: 1px solid transparent;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  padding-left: 40px;
  background-color: rgb(246, 246, 246);
  border-radius: 8px;
}
.search__input::-webkit-input-placeholder {
  color: #807D7E;
  font-size: 16px;
  font-family: "Causten", sans-serif;
  font-weight: 400;
  background-image: url("../img/header/search.svg");
  background-size: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 15px center;
}
.search__input::-moz-placeholder {
  color: #807D7E;
  font-size: 16px;
  font-family: "Causten", sans-serif;
  font-weight: 400;
  background-image: url("../img/header/search.svg");
  background-size: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 15px center;
}
.search__input:-ms-input-placeholder {
  color: #807D7E;
  font-size: 16px;
  font-family: "Causten", sans-serif;
  font-weight: 400;
  background-image: url("../img/header/search.svg");
  background-size: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 15px center;
}
.search__input::-ms-input-placeholder {
  color: #807D7E;
  font-size: 16px;
  font-family: "Causten", sans-serif;
  font-weight: 400;
  background-image: url("../img/header/search.svg");
  background-size: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 15px center;
}
.search__input::placeholder {
  color: #807D7E;
  font-size: 16px;
  font-family: "Causten", sans-serif;
  font-weight: 400;
  background-image: url("../img/header/search.svg");
  background-size: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 15px center;
}

.badge {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  grid-template-rows: 44px;
}
.badge__item {
  background-color: rgb(246, 246, 246);
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
@media (hover: hover) {
  .badge__item:hover {
    border: 1px solid #807D7E;
  }
  .badge__item:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.badge__item img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  max-width: 20px;
  width: 100%;
  aspect-ratio: 20/20;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  padding-top: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page__hero {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero--margin {
  margin-bottom: 130px;
}
.hero__front {
  position: relative;
}
.hero__front::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 5%;
  width: 24px;
  height: 44px;
  background: url("../img/page/hero/left-arrow.svg") 0 0/cover no-repeat;
}
.hero__front::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  right: 5%;
  width: 24px;
  height: 44px;
  background: url("../img/page/hero/right-arrow.svg") 0 0/cover no-repeat;
}
.hero__background {
  z-index: 1;
  aspect-ratio: 1449/716;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__body {
  position: absolute;
  top: 0;
  height: 100%;
  padding-top: 129px;
  padding-left: 89px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1059px, 1fr));
  gap: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 59px;
}
.hero__content {
  color: white;
  font-family: "Core Sans C", sans-serif;
  font-weight: 500;
  max-width: 479px;
}
.hero__content > * {
  margin-bottom: 40px;
}
.hero__over-title {
  font-size: 32px;
  text-transform: capitalize;
  line-height: 1.15;
  letter-spacing: 0.16px;
}
.hero__title {
  font-size: 78px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0.31px;
}
.hero__path-content {
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.31px;
}
.hero__button {
  color: #3C4242;
  font-size: 24px;
  font-family: "Causten", sans-serif;
  font-weight: 700;
  background-color: #fff;
  border-radius: 6px;
  padding: 16px 72px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (hover: hover) {
  .hero__button:hover {
    background-color: #c5c5c5;
  }
}
.hero__content > *:last-child {
  margin-bottom: 0;
}
.hero__line-bar {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__line-bar-left {
  width: 63px;
  height: 10px;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.hero__line-bar-right {
  width: 63px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.preview--margin {
  margin-bottom: 100px;
}
.preview__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.preview__block {
  position: relative;
  -webkit-box-shadow: 8px 6px 60px -1px rgba(0, 0, 0, 0.479);
          box-shadow: 8px 6px 60px -1px rgba(0, 0, 0, 0.479);
  border-radius: 12px;
}
@media (hover: hover) {
  .preview__block:hover .preview__background {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.preview__link-img {
  overflow: hidden;
  border-radius: 12px;
  max-width: 604px;
  height: 100%;
}
.preview__background {
  aspect-ratio: 604/335;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.preview__content > * {
  margin-bottom: 10px;
}
.preview__content {
  font-family: "Core Sans C", sans-serif;
  color: #fff;
  position: absolute;
  left: 28px;
  top: 64px;
  max-width: 264px;
}
.preview__over-title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-bottom: 25px;
}
.preview__title {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.2;
}
.preview__sub-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
}
.preview__link {
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
  line-height: 1.5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (hover: hover) {
  .preview__link:hover {
    color: rgb(49, 49, 49);
  }
}
.preview__content > *:last-child {
  margin-bottom: 0;
}

.footer {
  color: #F6F6F6;
  background-color: rgb(60, 66, 66);
  padding: 59px 0;
  font-family: "Causten", sans-serif;
}
.footer__navigation {
  max-width: 1059px;
  margin: 0 auto;
}
.footer__link-area {
  padding-bottom: 49px;
  border-bottom: 1px solid rgb(190, 188, 189);
  margin-bottom: 20px;
}
.footer__categories {
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: start;
  padding-left: 80px;
  padding-right: 34px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgb(190, 188, 189);
  margin-bottom: 20px;
}
.footer__title-categories {
  color: #F6F6F6;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}
.footer__arrow {
  justify-self: end;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.footer__foot {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
  margin-bottom: 10px;
}
.navigation__block:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 6;
}
.navigation__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
}
.navigation__item:not(:last-child) {
  margin-bottom: 8px;
}
.navigation__link {
  color: #F6F6F6;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (hover: hover) {
  .navigation__link:hover {
    color: #999999;
    text-decoration: underline;
  }
}

.link-area__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  max-width: 1059px;
  margin: 0 auto;
}
.link-area__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
}
.link-area__icon-social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37px;
          flex: 0 0 37px;
  aspect-ratio: 37/37;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media (hover: hover) {
  .link-area__icon-social:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.link-area__app {
  grid-column-start: 4;
  grid-column-end: 6;
}
.link-area__title-app {
  font-size: 28px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 15px;
}
.link-area__app-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px;
}
.link-area__app-name {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  border: 1px solid transparent;
}
@media (hover: hover) {
  .link-area__app-name:hover {
    border: 1px solid #F6F6F6;
  }
}

@media (max-width: 1111px) {
  .header {
    padding: 15px 0;
  }
  .page {
    padding-top: 75px;
  }
  .menu__body {
    gap: 15px;
  }
}
@media (max-width: 1000px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 61px;
            flex: 0 1 61px;
    aspect-ratio: 91/45;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .menu__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 35px;
  }
  .menu__burger::before, .menu__burger::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger span {
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu-open body {
    overflow: hidden;
  }
  .menu-open .menu__burger::before {
    top: 50%;
    top: 16px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-open .menu__burger::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 16px;
  }
  .menu-open .menu__burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .menu {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu {
    position: fixed;
    width: 100%;
    top: 70px;
    left: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 50;
    background-color: rgb(60, 66, 66);
    padding: 50px 30px;
    padding-bottom: 30px;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .menu::before {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 49;
    background-color: #797878;
  }
  .menu__body {
    display: grid;
    grid-template-columns: repeat(1, 0.2fr);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    justify-items: end;
    gap: 30px;
    margin-bottom: 40px;
  }
  .menu__item {
    color: #fff;
    font-size: 35px;
    font-family: "Causten", sans-serif;
    font-weight: 500;
  }
}
@media (max-width: 1000px) and (hover: hover) {
  .menu__item:hover .menu__link { /* Звернення до &__link всередині &__item при наведенні */
    color: #797878;
    text-decoration: underline;
  }
}
@media (max-width: 1000px) {
  .menu__link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .menu__link--active {
    color: #949494;
    text-decoration: underline;
  }
  .search__input {
    width: 100%;
    height: 34px;
    padding: 0 20px;
    padding-left: 40px;
  }
  .search__input::-webkit-input-placeholder {
    font-size: 14px;
    background-size: 15px 15px;
  }
  .search__input::-moz-placeholder {
    font-size: 14px;
    background-size: 15px 15px;
  }
  .search__input:-ms-input-placeholder {
    font-size: 14px;
    background-size: 15px 15px;
  }
  .search__input::-ms-input-placeholder {
    font-size: 14px;
    background-size: 15px 15px;
  }
  .search__input::placeholder {
    font-size: 14px;
    background-size: 15px 15px;
  }
  .badge {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .badge__item {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .badge__item img {
    max-width: 15px;
    aspect-ratio: 15/15;
  }
}
@media (max-width: 676px) {
  .header {
    padding: 10px 0;
  }
  .search {
    display: none;
  }
  .badge {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-rows: 38px;
  }
  .badge__item {
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .badge__item img {
    max-width: 12px;
    aspect-ratio: 12/12;
  }
  .menu {
    top: 55px;
  }
}
@media (max-width: 1336px) {
  .hero__body {
    padding-top: 59px;
    padding-left: 99px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(759px, 1fr));
    gap: 53px;
    padding-bottom: 59px;
  }
  .hero__content > * {
    margin-bottom: 20px;
  }
  .hero__content > *:last-child {
    margin-bottom: 0;
  }
  .hero__line-bar {
    display: none;
  }
}
@media (max-width: 1000px) {
  .page {
    padding-top: 74px;
  }
  .hero__body {
    padding-top: 59px;
    padding-left: 99px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(759px, 1fr));
    gap: 53px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 59px;
  }
  .hero__content > * {
    margin-bottom: 20px;
  }
  .hero__over-title {
    font-size: 30px;
  }
  .hero__title {
    font-size: 72px;
  }
  .hero__path-content {
    font-size: 30px;
  }
  .hero__button {
    font-size: 22px;
    border-radius: 6px;
    padding: 16px 72px;
  }
  .hero__content > *:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 913px) {
  .hero--margin {
    margin-bottom: 70px;
  }
  .hero__body {
    padding-top: 29px;
  }
  .hero__content > * {
    margin-bottom: 10px;
  }
  .hero__content {
    max-width: 279px;
  }
  .hero__over-title {
    font-size: 20px;
  }
  .hero__title {
    font-size: 42px;
  }
  .hero__path-content {
    font-size: 20px;
  }
  .hero__button {
    font-size: 22px;
    border-radius: 6px;
    padding: 16px 72px;
  }
  .hero__content > *:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 676px) {
  .page {
    padding-top: 58px;
  }
  .hero--margin {
    margin-bottom: 50px;
  }
  .hero__front::before {
    content: "";
    top: 40%;
    left: 2%;
    width: 24px;
    height: 44px;
    background: url("../img/page/hero/left-arrow.svg") 0 0/cover no-repeat;
  }
  .hero__front::after {
    top: 40%;
    right: 2%;
    width: 20px;
    height: 40px;
    background: url("../img/page/hero/right-arrow.svg") 0 0/cover no-repeat;
  }
  .hero__body {
    padding-top: 19px;
    padding-left: 69px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(759px, 1fr));
    gap: 53px;
    padding-bottom: 59px;
  }
}
@media (max-width: 540px) {
  .hero__body {
    padding-top: 10px;
    padding-left: 32px;
  }
  .hero__content > * {
    margin-bottom: 10px;
  }
  .hero__content {
    max-width: 179px;
  }
  .hero__over-title {
    font-size: 14px;
  }
  .hero__title {
    font-size: 22px;
  }
  .hero__path-content {
    font-size: 14px;
  }
  .hero__button {
    font-size: 22px;
    border-radius: 6px;
    padding: 12px 32px;
  }
  .hero__content > *:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 360px) {
  .hero--margin {
    margin-bottom: 20px;
  }
  .hero__body {
    padding-top: 2px;
    padding-left: 32px;
  }
  .hero__content > * {
    margin-bottom: 5px;
  }
  .hero__content {
    max-width: 139px;
  }
  .hero__over-title {
    font-size: 14px;
  }
  .hero__title {
    font-size: 16px;
  }
  .hero__path-content {
    font-size: 14px;
  }
  .hero__button {
    font-size: 16px;
    border-radius: 6px;
    padding: 12px 32px;
  }
  .hero__content > *:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1244px) {
  .preview__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
  }
}
@media (max-width: 606px) {
  .preview__content > * {
    margin-bottom: 5px;
  }
  .preview__content {
    position: absolute;
    left: 22px;
    top: 30px;
    max-width: 234px;
  }
  .preview__over-title {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .preview__title {
    font-size: 24px;
  }
  .preview__sub-title {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .preview__link {
    font-size: 16px;
    line-height: 1.5;
  }
  .preview__content > *:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 396px) {
  .preview__content > * {
    margin-bottom: 3px;
  }
  .preview__content {
    position: absolute;
    left: 22px;
    top: 20px;
    max-width: 174px;
  }
  .preview__content > *:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1100px) {
  .footer__categories {
    padding-left: 10px;
    padding-right: 44px;
    padding-bottom: 28px;
  }
}
@media (max-width: 868px) {
  .footer {
    padding: 39px 0;
  }
  .footer__categories {
    padding-left: 10px;
    padding-right: 44px;
    padding-bottom: 28px;
  }
  .navigation {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    row-gap: 20px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .navigation__block {
    padding-bottom: 18px;
    border-bottom: 1px solid rgb(190, 188, 189);
  }
  .navigation__block:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .navigation__link {
    font-size: 20px;
  }
  .link-area {
    padding-bottom: 20px;
  }
  .link-area__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    justify-items: start;
    justify-items: center;
  }
  .link-area__social {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 28px;
    border-bottom: 1px solid rgb(190, 188, 189);
  }
  .link-area__app {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 568px) {
  .navigation {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    row-gap: 20px;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .navigation__block {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(190, 188, 189);
  }
  .navigation__block:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}