@import url("fonts.css");
@import url("reset.css");

body {
    background-color: #e7ccc3;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

div[class*="_container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}




.link__link{
    font-size: 30px;
    padding: 12px 30px;
    background-color: #8A33FD;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s;
}
@media (any-hover: hover) {
.link__link:hover{
    background-color: #622baa;
}
}
.link__container{
    text-align: center;
}
.link--margin {
    margin-top: 20px;
    margin-bottom: 40px;
}
.page {}

.page__container {}

.page__body>*{
    margin-bottom: 30px;
}
.page__title{
    /* margin-bottom: 15px; */
    font-size: 40px;
    font-weight: 700;
}
.page__block1,
.page__block2,
.page__block3,
.page__block4,
.page__block5,
.page__block6,
.page__block7,
.page__block8,
.page__block9,
.page__block10,
.page__block11,
.page__block12 {
    outline: 2px solid #BB8A52;
    display: grid;
    background-color: #0C3B2E;
    gap: 20px;
}
.page__item {
    padding: 10px;
    background-color: #FFBA00;
}

.page__block1{
    grid-template-columns: repeat(4, 1fr);
}
.page__block2{
    grid-template-columns: repeat(2, 0.3fr);
}
.page__block3{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.page__block4{
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.item--width{
    max-width: 200px;
}
.page__block5{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.page__block6{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 100px;
}
.page__block7{
    grid-template-columns: repeat(4, 0.2fr);
    justify-items: center;
}

.page__block8 {
    grid-template-columns: repeat(4, 0.2fr);
justify-content: center;
}

.page__block9 {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.page__block10 {
    grid-template-columns: repeat(4, 1fr);
    align-content: end;
    height: 700px;
}

.page__block11 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header header"
    "side content"
    "footer footer";
}
.page__block11 .page__item:nth-child(1){
    grid-area: header;
}
.page__block11 .page__item:nth-child(2){
    grid-area: side;
}
.page__block11 .page__item:nth-child(3){
    grid-area: content;
}
.page__block11 .page__item:nth-child(4){
    grid-area: footer;
}



.page__block12{
    grid-template-columns: repeat(2, 1fr);
}

.page__block12 .page__item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
}
.page__block12 .page__item:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 2;
}
.page__block12 .page__item:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
}
.page__block12 .page__item:nth-child(4){
   grid-column-start: 1;
   grid-column-end: 3;
}

.page__body>*:last-child{
    margin-bottom: 0;
}