@import url("fonts.css");
@import url("reset.css");

body {
    color: #333333;
    font-size: 18px;
    font-family: Causten, sans-serif;
    font-weight: 400;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

div[class*="_container"] {
    max-width: 1240px;
    margin: 0 auto;
}

/* ======================================================== */
/* header */

.header {
    border-bottom: 2px solid rgba(190, 188, 189, 1);
    background-color: #fffffff1;
}

.header--fixed {
    position: fixed;
    width: 100%;
    z-index: 90;
}

.header__container {}

.header__body {
    display: flex;
    /* justify-content: space-around; */
    padding: 35px 0 31px;
    align-items: center;
    flex-wrap: nowrap;
}

.header__logo {
    margin-right: 164px;
}



/* ---------------------- */
/* ---------------------- */
.header__search {
    padding: 12px 48px;
    display: flex;
    align-items: center;
    margin-right: 210px;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 8px;
    color: #807D7E;
    font-weight: 500;
    transition: background-color 0.3s;
}

.header__search:hover {
    background-color: rgb(226, 223, 223);
}

.header__icon-search {
    margin-right: 12px;
}

.header__text {}

/* ---------------------- */
/* ---------------------- */

.header__languages {
    margin-right: 60px;
    gap: 30%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 204px;
    color: #333333;
    font-weight: 400;
}

.languages {}

.languages__body {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.languages__body:hover .languages__text {
    color: #7a7979;
}

.languages__body:hover .languages__icon {
    transform: rotate(-180deg);
}

.languages__text {
    margin-right: 19px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 170px;
    transition: color 0.2s;
}

.languages__icon {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.languages__list {
    position: absolute;
    top: 10px;
    padding: 10px;
    padding-top: 20px;
    background-color: #ffffff;
    z-index: -1;
    visibility: hidden;
}

.languages__item:not(:last-child) {
    margin-bottom: 15px;
}

.languages__body:hover .languages__list {
    visibility: visible;
}

.languages__item {
    padding: 0 15px 0 2px;
    transition: all 0.2s;
}

.languages__item:hover {
    color: #555555;
    text-decoration: underline;
}


/* ================================= */
/* ================================= */
.header__buttons {
    display: flex;
    align-items: center;
}


.header__login,
.header__sign-up {
    padding: 12px 48px;
    border-radius: 10px;
    flex-grow: 1;
    flex-shrink: 0;
}

.header__login {
    margin-right: 29px;
    background-color: rgba(138, 51, 253, 1);
    color: white;
    transition: background-color 0.3s;
}

.header__sign-up {
    border: 1px solid rgb(0, 0, 0);
    color: rgba(138, 51, 253, 1);
    transition: background-color 0.3s;
}

.header__login:hover {
    background-color: rgb(99, 22, 199);
}

.header__sign-up:hover {
    background-color: #b6b6b6;
}


/* =========================================================== */
/* =========================================================== */
.page {
    padding-top: 150px;
}

.page__flex-link {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgba(138, 51, 253, 1);
    margin-bottom: 50px;
}

.page__link-flex {
    padding: 10px;
    color: black;
    background-color: rgb(253, 189, 26);
    transition: background-color 0.3s, color 0.2s;
}

.page__link-flex:hover {
    color: #555555;
    background-color: rgb(253, 189, 26);
}

.section__title {
    color: #3C4242;
    font-size: 34px;
    font-family: CoreSans, sans-serif;
    font-weight: 600;
    line-height: 33.50px;
    letter-spacing: 0.68px;
    display: flex;
    align-items: center;
    position: relative;
    left: 26px;
}

.section__title:before {
    content: '';
    border-radius: 6px;
    width: 6px;
    height: 30px;
    background-color: rgba(138, 51, 253, 1);
    position: absolute;
    left: -26px;
}

/* ============================================ */

.products {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}

.products__column {
    padding: 0 25px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    margin-bottom: 50px;
}

.products__item {}

.item-product {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.item-product__image {
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s;
}

.item-product__image:hover {
    transform: scale(1.1);
}

.item-product__image img {
    max-width: 100%;
}

.item-product__image:not(:last-child) {
    margin-bottom: 15px;
}

.item-product__body {
    display: flex;
    flex-grow: 1;
}

.item-product__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.item-product__title {
    flex-grow: 1;
}

.item-product__title:not(:last-child) {
    margin-bottom: 10px;
}

.item-product__link-title {
    color: #2A2F2F;
    font-weight: 700;
    line-height: 1.5;
}

.item-product__text {
    color: #7F7F7F;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.item-product__link {
    align-self: flex-start;
    min-height: 14px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 18px;
    position: relative;
    background: url("../img/men-row/arrow.svg") center no-repeat;
    animation: arrow-move 0.2s ease-in-out 1 paused;
}


@keyframes arrow-move {
    0% {
        left: 0;
    }

    25% {
        left: -30px;
    }

    100% {
        left: 0;
    }
}

.item-product__body:hover .item-product__link {
    animation-play-state: running;
}

/* ==================================================== */
/* 
.page__section {}

.section {}

.section__title {}

.section__product {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product {}

.product__body {

    max-width: 270px;
}

.product__img {
    margin-bottom: 16px;
    max-width: 270px;
    display: block;
}

.product__description {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product__text-description {
    display: flex;
    flex-direction: column;
}

.product__name {
    display: block;
    margin-bottom: 10px;
}

.product__text {}

.product__side {}
 */
/* =========================================================== */
/* =========================================================== */




.page__order {
    color: #BEBCBD;
    font-size: 14px;
    font-weight: 600;
}

.order {}

.order__list {}

.order__item {}





.order__content {
    padding: 28px 47px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.order__info {}

.order__number {
    color: #3C4242;
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 600;
}

.order__content h3 {
    color: #807D7E;
    font-size: 14px;
    font-weight: 600;
}

.order__data {
    display: flex;
    gap: 7px;
}

.order__data-status {
    display: flex;
    gap: 7px;
}

.order__sub-title {
    margin-bottom: 7px;
}

.order__status {

    justify-self: self-end;
}





.order__product-content {}

.order__img {}

.order__info-product {}

.order__name-product {}

.order__data-product {}

.order__data-block {}

.order__detail-product {}










/* =========================================================== */
/* =========================================================== */
/* =========================================================== */
/* =========================================================== */
.footer {
    background-color: #3C4242;
}

.footer__container {}

.footer__body {
    padding: 30px;
    text-align: center;
}

.footer__title {
    font-size: 30px;
    color: #fff;
    font-family: Poppins, serif;
    font-weight: 600;
}