@import url("fonts.css");
@import url("reset.css");

body {
    color: #333333;
    font-size: 18px;
    font-family: Causten, sans-serif;
    font-weight: 400;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

div[class*="_container"] {
    max-width: 1240px;
    margin: 0 auto;
}

/* ======================================================== */
/* header */

.header {
    border-bottom: 2px solid rgba(190, 188, 189, 1);
    background-color: #fffffff1;
}

.header--fixed {
    position: fixed;
    width: 100%;
    z-index: 90;
}

.header__container {}

.header__body {
    display: flex;
    padding: 35px 0 31px;
    align-items: center;
    flex-wrap: nowrap;
}

.header__logo {
    /* margin-right: 164px; */
    margin-right: 15%;
}



/* ---------------------- */
/* ---------------------- */
.header__search {
    padding: 12px 48px;
    display: flex;
    align-items: center;
    /* margin-right: 210px; */
    background-color: rgba(246, 246, 246, 1);
    border-radius: 8px;
    color: #807D7E;
    font-weight: 500;
    transition: background-color 0.3s;
    margin-right: 16%;
}

.header__search:hover {
    background-color: rgb(226, 223, 223);
}

.header__icon-search {
    margin-right: 12px;
}

.header__text {}

/* ---------------------- */
/* ---------------------- */

.header__languages {
    /* margin-right: 60px; */
    margin-right: 4%;
    gap: 30%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 204px;
    color: #333333;
    font-weight: 400;
}

.languages {}

.languages__body {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.languages__body:hover .languages__text {
    color: #7a7979;
}

.languages__body:hover .languages__icon {
    transform: rotate(-180deg);
}

.languages__text {
    margin-right: 19px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 170px;
    transition: color 0.2s;
}

.languages__icon {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.languages__list {
    position: absolute;
    top: 10px;
    padding-top: 52px;
    z-index: -1;
    visibility: hidden;
    max-width: 300px;
}

.languages__ul-list {
    background-color: #BEBCBD;
    padding: 15px;
    width: 100%;
}

.languages__item:not(:last-child) {
    margin-bottom: 15px;
}

.languages__body:hover .languages__list {
    visibility: visible;
}

.languages__item {
    padding: 0 15px 0 2px;
    transition: all 0.2s;
}

.languages__item:hover {
    color: #555555;
    text-decoration: underline;
}


/* ================================= */
/* ================================= */
.header__buttons {
    display: flex;
    align-items: center;
}


.header__login,
.header__sign-up {
    padding: 12px 48px;
    border-radius: 10px;
    flex-grow: 1;
    flex-shrink: 0;
}

.header__login {
    margin-right: 29px;
    background-color: rgba(138, 51, 253, 1);
    color: white;
    transition: background-color 0.3s;
}

.header__sign-up {
    border: 1px solid rgb(0, 0, 0);
    color: rgba(138, 51, 253, 1);
    transition: background-color 0.6s, color 0.3s;
}

.header__login:hover {
    background-color: rgb(44, 6, 94);
}

.header__sign-up:hover {
    background-color: rgb(177, 121, 250);
    color: #fff;
}


/* =========================================================== */
/* =========================================================== */
.page {
    padding-top: 150px;
}

.page__flex-link {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgba(138, 51, 253, 1);
    margin-bottom: 50px;
    text-align: center;
}

.page__link-flex {
    padding: 10px;
    display: inline-block;
    color: black;
    background-color: rgb(253, 189, 26);
    transition: background-color 0.3s, color 0.2s;
}

.page__link-flex:hover {
    color: #555555;
    background-color: rgb(253, 189, 26);
}

.section__title {
    color: #3C4242;
    font-size: 34px;
    font-family: CoreSans, sans-serif;
    font-weight: 600;
    line-height: 33.50px;
    letter-spacing: 0.68px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 26px;
}

.section__title:before {
    content: '';
    border-radius: 6px;
    width: 6px;
    height: 30px;
    background-color: rgba(138, 51, 253, 1);
    position: absolute;
    left: 0;
}

/* ============================================ */

.products {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    row-gap: 50px;
}

.products__column {
    padding: 0 25px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}

.products__item {}

.item-product {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.item-product__image {
    overflow: hidden;
    border-radius: 10px;

}

.item-product__image:hover img {
    transform: scale(1.1);
}

.item-product__image img {
    width: 100%;
    transition: all 0.3s;
}

.item-product__image:not(:last-child) {
    margin-bottom: 15px;
}

.item-product__body {
    display: flex;
    flex-grow: 1;
}

.item-product__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.item-product__title {
    flex-grow: 1;

}

.item-product__title:not(:last-child) {
    margin-bottom: 10px;
}

.item-product__link-title {
    color: #2A2F2F;
    font-weight: 700;
    line-height: 1.5;
}

.item-product__text {
    color: #7F7F7F;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.item-product__link {
    align-self: flex-start;
    min-height: 14px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 18px;
    position: relative;
    left: 0;
    background: url("../img/men-row/arrow.svg") center no-repeat;
    transition: left 0.3s;
}

.products__column:nth-child(5),
.products__column:nth-child(6),
.products__column:nth-child(7),
.products__column:nth-child(8) {
    margin-bottom: 0;
}

.item-product__body:hover .item-product__link {
    left: -20px;
}

/* ==================================================== */
/* 
.page__section {}

.section {}

.section__title {}

.section__product {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product {}

.product__body {

    max-width: 270px;
}

.product__img {
    margin-bottom: 16px;
    max-width: 270px;
    display: block;
}

.product__description {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product__text-description {
    display: flex;
    flex-direction: column;
}

.product__name {
    display: block;
    margin-bottom: 10px;
}

.product__text {}

.product__side {}
 */
/* =========================================================== */
/* =========================================================== */




.page__order {
    color: #BEBCBD;
    font-size: 14px;
    font-weight: 600;
    max-width: 898px;
    margin: 0 auto;
    margin-bottom: 100px;

}

.order {}

.order__list p {
    font-weight: 500;
}

.order__item {}





.order__content {
    padding: 28px 47px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-end;
}

.order__info {}

.order__number {
    color: #3C4242;
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 600;
    max-width: 400px;
}

.order__content h3 {
    color: #807D7E;
    font-size: 14px;
    font-weight: 600;
}

.order__data {
    display: flex;
    gap: 7px;
    max-width: 500px;
}

.order__data:not(:last-child) {
    margin-bottom: 7px;
}

.order__data-status {
    display: flex;
    gap: 7px;
}

.order__sub-title {}

.order__data-status {
    justify-content: flex-end;
}

.order__data-status:not(:last-child) {
    margin-bottom: 7px;
}

.order__status {}



.order__product-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(237, 238, 242, 1);
}

.order__information {
    display: flex;
    align-items: center;
    gap: 25px;
}

.order__img {
    flex: 0 0 96px;
}

.order__img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: width 0.3s, height 0.3s 0.2s;
}

.order__img:hover img {
    /* width: 150%;
    height: 150%; */
}


.order__info-product {}

.order__name-product {
    color: #3C4242;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.order__data-product {}

.order__data-block {
    display: flex;
    gap: 7px;
}

.order__detail-product {
    color: #3C4242;
    font-size: 14px;
    font-weight: 600;
}

.order__link {
    padding: 14px 28px;
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(138, 51, 253, 1);
    border-radius: 12px;
    transition: all 0.3s;
    flex-shrink: 0;
}

.order__link:hover {
    color: white;
    background-color: rgb(44, 6, 94);
    border-radius: 16px;
}


.order__item:nth-child(odd) {
    background-color: rgba(246, 246, 246, 1);
    border-radius: 10px;
}

.order__item:not(:last-child) {
    margin-bottom: 30px;
}

/* =========================================================== */
/* =========================================================== */

.page__clothes {
    margin-bottom: 100px;
    color: #807D7E;
    font-size: 22px;
    font-weight: 500;
}

.clothes {}

.clothes__title {
    color: #3C4242;
    font-size: 28px;
    font-family: CoreSans, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 50px;
    letter-spacing: 0.56px;
}

.clothes__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid rgba(237, 238, 242, 1);
}

.clothes__block:not(:last-child) {}

.clothes__block h3 {
    color: #3C4242;
    font-weight: 700;
}

.clothes__front {
    display: flex;
    align-items: center;
    gap: 30px;
}

.clothes__close {
    display: inline-block;
    cursor: pointer;
    flex: 0 0 22px;
}

.close {
    transition: all 0.2s;
}

.clothes__close:hover .close {
    transform: rotate(180deg);
}

.clothes__close img {
    width: 100%;
}

.clothes__img {
    flex: 0 0 110px;
}

.clothes__img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.clothes__info {
    flex: 0 1 600px;
}

.clothes__name {
    margin-bottom: 12px;
}

.clothes__description h3 {
    margin-bottom: 12px;
}

.clothes__description {
    display: flex;
    gap: 7px;
}

.clothes__order {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-shrink: 0;
}

.clothes__price {
    font-weight: 700;
}

.clothes__link {
    padding: 14px 28px;
    color: white;
    font-size: 18px;
    background-color: rgba(138, 51, 253, 1);
    border-radius: 12px;
    flex-shrink: 0;
    transition: background-color 0.3s;
}

.clothes__link:hover {
    background-color: rgb(44, 6, 94);
}

/* #clothes__block-1 {}

#block-1:target,
#block-2:target,
#block-3:target,
#block-4:target {
    display: none;
} */
.clothes__block:target {
    display: none;
}

.clothes__back {
    position: absolute;
    padding: 12px 20px;
}

/* .back-block-1 */

/* =========================================================== */
/* =========================================================== */
/* =========================================================== */
/* =========================================================== */
.footer {
    background-color: #3C4242;
}

.footer__container {}

.footer__body {
    padding: 30px;
    text-align: center;
}

.footer__title {
    font-size: 30px;
    color: #fff;
    font-family: Poppins, serif;
    font-weight: 600;
}