@import "_reset.scss";


@import "_fonts.scss";

body{
    background-color: #333;
    font-family: Core Sans C, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
}

.wrapper{
    overflow: clip;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper main{
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1267px;
    margin: 0 auto;
    padding: 0 15px;
}

// ========================================================================

.page {
    padding-top: 150px;

    // .page__container

    &__container {
        background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/page/ww2.webp") 0 0 / cover no-repeat;

    }

    // .page__body

    &__body {
       
    }

    // .page__title

    &__title {
        font-size: 50px;
        margin-bottom: 30px;
    }

    // .page__encrypt

    &__encrypt {
    }
}
.encrypt {
margin-bottom: 30px;
    // .encrypt__rotors
    &__title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__rotors {
        margin-bottom: 20px;
    }

    &__block{
        &:not(:last-child){
            margin-bottom: 20px;
        }
        input{
            height: 40px;
            width: 100px;
            padding: 0 0 0 20px;
            border-radius: 3px;
        }
    }

    // .encrypt__textarea

    &__textarea {
        margin-bottom: 30px;
        textarea{
            resize: vertical;
            padding: 10px;
            margin-bottom: 10px;
            min-height: 150px;
        }
    }

    // .encrypt__button

    &__buttons{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 40px;
    }
    &__button {
        display: block;
        background-color: blueviolet;
        padding: 10px 20px;
        border-radius: 3px;
        transition: all 0.3s;
        @media(hover: hover){
            &:hover{
                background-color: rgb(76, 31, 119);
            }
        }
    }

    // .encrypt__text

    &__text {
        background-color: burlywood;
        min-height: 150px;
        min-width: 100px;
        padding: 20px;
        color: #000;
    }
}



.page {

    // .page__decrypt

    &__decrypt {
    }
}
.decrypt {

    // .decrypt__rotors

    &__rotors {
        margin-bottom: 20px;
    }

    // .decrypt__block

    &__block{
        &:not(:last-child){
            margin-bottom: 20px;
        }
        input{
            height: 40px;
            width: 100px;
            padding: 0 0 0 20px;
            border-radius: 3px;
        }
    }

    // .decrypt__textarea

    &__textarea {
        margin-bottom: 30px;
        textarea{
            resize: vertical;
            padding: 10px;
            margin-bottom: 10px;
            min-height: 150px;
        }
    }

    &__buttons{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 40px;
    }
    // .decrypt__button

 
    &__button {
        display: block;
        background-color: blueviolet;
        padding: 10px 20px;
        border-radius: 3px;
        transition: all 0.3s;
        @media(hover: hover){
            &:hover{
                background-color: rgb(76, 31, 119);
            }
        }
    }

    // .encrypt__text

    &__text {
        background-color: burlywood;
        min-height: 150px;
        min-width: 100px;
        padding: 20px;
        color: #000;
    }
}
