@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap"); */

@import url("reset.css");


body {
    /* margin: 0 auto; */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #7D7D7D;
    text-align: justify;
}




/* Контейнер 1 */
.container {
    margin: 0 auto;
    max-width: 1218px;
    margin-top: 40px;
}

.title-container {
    text-align: center;
    margin-bottom: 70px;
}

.mini-title h5 {
    display: inline-block;
    color: #37393F;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.squard {
    display: inline-block;
    margin-right: 6px;
    width: 12px;
    height: 12px;
    background-color: rgba(64, 221, 182, 1);
}

.big-title h2 {
    font-size: 60px;
}

.big-title h2,
.sub-title {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

.sub-title {
    font-size: 40px;
}

.text {
    margin-top: 11px;
    line-height: 1.4;
    margin-bottom: 24px;
}

.mini-sub-title {
    color: #37393F;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.mini-sub-title span {
    font-family: "Poppins", sans-serif;
    color: #40DDB6;
    font-size: 30px;
    font-weight: 400;
}

.text-mini {
    color: #40DDB6;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 24px;
}

.text~.mar150px span {
    color: #40DDB6;
}


/* додаткові стилі */
.mar32px {
    margin-bottom: 32px;
}

.mar150px {
    margin-bottom: 150px;
}

.deform {
    margin-bottom: 100px;
}

/* додаткові стилі */

/* Контейнер 1 */




/* Контейнер 2 */
.container-2 {
    max-width: 830px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.title-container-2 {
    color: #37393F;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 13px;
}

.text-container-2 {
    line-height: 1.4;
    margin-bottom: 35px;
}

.text-container-2 p {
    margin-bottom: 15px;
}

.list-container-2 {
    font-weight: 500;
    margin-left: 44px;
    line-height: 2.4;
    margin-bottom: 35px;
}





/* Контейнер 2 */


/* Контейнер 3 */
.container-3 {
    max-width: 1240px;
    margin: 0 auto;
    font-family: "Causten", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #807D7E;
    letter-spacing: 0.40px;
}

.title-container-3 {
    margin-bottom: 30px;
}

.pink {
    width: 6px;
    height: 28px;
    background-color: rgba(138, 51, 253, 1);
    border-radius: 10px;
    display: inline-block;
    margin-left: -15px;

}

.title-container-3 h2 {
    color: #3C4242;
    font-size: 28px;
    font-family: "CoreSansC65", sans-serif;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: 0.56px;
    display: inline-block;
}

.sub-title-container-3 {
    font-family: "CoreSansC65", sans-serif;
    font-weight: 600;
    line-height: 1.65;
    margin-bottom: 25px;
}

.text-container-3 {
    line-height: 1.65;
    margin-bottom: 25px;
}

.text-container-3 p {
    margin-bottom: 20px;
}

/* Контейнер 3 */







/* Контейнер 4 */
.container-4 {
    margin: 0 auto;
    max-width: 1103px;
    font-family: "Cormorant Infant", sans-serif;
    font-weight: 700;
    color: #606060;
    font-size: 30px;
}

.block-text {
    width: 503px;
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
}

.block-text h5 {
    color: #D58417;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 30px;
}

.block-text h2 {
    color: black;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 35px;
}

.image-place {
    display: inline-block;
    margin-left: 75px;
}

.img-1 {
    border-radius: 235px;
    box-shadow: 4px -3px 1px 3px #000;
    /* border: 2px solid #000; */
}

.img-2 {
    margin-left: 20px;
    border-radius: 235px;
    box-shadow: 4px -3px 1px 3px #000;
}

/* Контейнер 4 */

/* Контейнер 5 */

.container-5 {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
    font-family: "Cormorant Infant", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 150px;
}

.block-1 {
    margin-top: 30px;
    max-width: 300px;
    height: 100px;
    background-color: #e9b878;
    border: 3px solid #0011fa;
    border-radius: 30px;
    text-align: center;
    box-shadow: 4px 4px 1px 3px #000;
}

.block-1 p {
    color: #000;
    margin-top: 10px;

}

.block-2 {
    text-align: center;
    margin-top: 90px;
}

.exp-photo {
    border-radius: 50%;
    max-width: 500px;
    height: auto;
    outline: 8px dotted #40DDB6;
    box-shadow: -200px -30px 50px 50px #000,
        200px -30px 50px 50px #fa1b1b,
        0 60px 50px 50px #fad81b;
}

.block-3 {
    margin-top: 120px;
    max-width: 300px;
    height: 100px;
    background-color: #ffd900;
    border: 7px solid #000000;
    border-radius: 90px;
    text-align: center;
    box-shadow: inset 0 0 100px 6px #606060;
}

.container-5 h4 {
    margin-top: 60px;
}

.block-4 {
    margin-top: 60px;
    max-width: 300px;
    height: 100px;
    background-color: #ffd900;
    border: 7px solid #000000;
    border-radius: 90px;
    text-align: center;
    visibility: hidden;
}

.block-5 {
    margin-top: 60px;
    max-width: 300px;
    height: 100px;
    background-color: #ffd900;
    border: 7px solid #000000;
    border-radius: 90px;
    text-align: center;
    display: none;
}

.block-6 {
    margin-top: 60px;
    max-width: 300px;
    height: 100px;
    background-color: #ffd900;
    border: 7px solid #000000;
    border-radius: 90px;
    text-align: center;
    opacity: 0;
}

.block-6 p {
    opacity: 1;
}

/* Контейнер 5 */



.mar150px {
    margin-bottom: 150px;
}

/*
Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або 
значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black
*/