@use "sass:math";
@import "_reset.scss";
@import "_fonts.scss";
@import "_functions.scss";
.wrapper{
    overflow: clip;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper main{
    flex-grow: 1;
}
//* container can changes
[class*="__container"] {
    max-width: toRem(1430);
    margin: 0 auto;
    padding: 0 toRem(15);
}
// ? info
// snippet "--" -> frontiera


$mainFont: "DM Sans", sans-serif;
$secondFont: "Roboto Serif", sans-serif;
$whiteColor: #fff;
$whiteHover: #c5c5c5;
$blackColor: #0c0c0ce6;
$fullBlack: #000;
$infoColor: #64CCC5;
$lightGrey: #f4f4f4;

%over-title{
    color: $infoColor;
    font-size: toRem(30);
    font-family: $secondFont;
    font-weight: 600;
}
%title{
    color: $lightGrey;
    font-size: toRem(64);
    font-family: $secondFont;
    font-weight: 600;
}

// =============================================================
// =============================================================
//! HEADER
//?-------------------------------------------------------------
.header {
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: $whiteColor;
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;
    }
    //background-color: $blackColor;
    font-size: toRem(20);
    @media(max-width: toEm(797)){
        font-size: toRem(16);
    }
    &--fixed{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        padding: toEm(22, 20);
        z-index: 90;
        @media(max-width: toEm(797)){
            padding: toEm(8, 20);
        }
    }
    // .header__container

    &__container {
        display: flex;
        gap: toRem(20);
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo

    &__logo {
        position: relative;
        z-index: 6;
        flex-grow: 0;
        flex-shrink: 1;
        display: flex;
        gap: toRem(10);
        align-items: center;
        h2{
            color: $blackColor;
            font-size: toEm(30, 20);
            font-family: $secondFont;
            font-weight: 600;
        }
    }

    // .header__text-logo

    &__text-logo {
    }


    &__action{
        flex-shrink: 1;
        display: flex;
        gap: toRem(20);
       
        align-items: center;
    }
    // .header__button

    &__button {  
        position: relative;
        z-index: 6;
        color: $whiteColor;
        font-size: toEm(18, 20);
        font-family: $mainFont;
        font-weight: 400;
        letter-spacing: toRem(0.5);
        padding: toEm(8, 20) toEm(15, 20);
        background-color: $blackColor;
        border-radius: toRem(15);
        transition: background-color 0.3s;
        @media(hover:hover){
            &:hover{
                background-color: $whiteHover;
            }
        }
        @media(max-width: toEm(797)){
            position: fixed;
            right: toRem(40);
            top: toRem(100);
            font-size: toEm(22, 20);
            padding: toEm(15, 20) toEm(40, 20);
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s;
        }
    }
    &__burger{  
        z-index: 6;
        width: toRem(50);
        height: toRem(30);
        position: relative;
        &::before,
        &::after, span{
            content: '';
            position: absolute;
            width: 100%;
            height: toRem(4);
            left: 0;
            background-color: $blackColor;
        }
        &::before{
            top: 0;
            transition: all 0.3s ease-in-out;
        }
        &::after{
            bottom: 0;
            transition: all 0.3s 0.2s ease-in-out;
        } span{
            top: calc(50% - toRem(2));
            transition: all 0.3s 0.3s ease-in-out;
        }
        @media(min-width: toEm(798)){
            display: none;
        }
    }
}

.menu {
    @media(max-width: toEm(797)){
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $infoColor;
        left: 0;
        top: 0;
        padding: toRem(170) toRem(40) toRem(100);
        transform: translate(0, -100%);
        transition: transform 0.3s;
        overflow: auto;
    }
    // .menu__list

    &__list {
        position: relative;
        z-index: 6;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: toRem(30);
        @media(max-width: toEm(797)){
            grid-template-columns: repeat(1, auto);
            justify-items: end;
            font-size: toRem(40);
            gap: toRem(50);
        }
    }

    // .menu__item

    &__item {
        @media(hover:hover){
            &:hover{
                .menu__link{
                    color:$whiteHover;
                    text-decoration-color: initial;
                }
            }
        }
    }

    // .menu__link

    &__link {
        color: $blackColor;
        font-size: toEm(20, 20);
        font-family: $mainFont;
        font-weight: 400;
        transition: all 0.3s;
        text-decoration: underline;
        text-decoration-color: transparent;
    }
}

.menu-open{
    body{
        overflow: hidden;
    }
    .menu{
        transform: translate(0, 0);
    }
    .header__button{
        visibility: visible;
        opacity: 1;
    }
    .header__burger{
        &::before, &::after, span{
            transition: all 0.3s ease-in;
        }
        &::before{
            top: calc(50% - toRem(2));
            transform: rotate(-45deg);
        }
        &::after{
            bottom: calc(50% - toRem(2));
            transform: rotate(45deg);
        } span{
            transform: scale(0);
        }
    }
}

// =============================================================
// =============================================================
//! PAGE
//?-------------------------------------------------------------
.page {
    padding-top: toRem(83+67);
    display: flex;
    flex-direction: column;
    @media(max-width: toEm(797)){
        padding-top: toRem(51);
    }
    // .page__pre-info

    &__pre-info {
    }
}
//*-----------------frontiera-----------------//
.pre-info {
    font-size: toRem(18);
    font-family: $mainFont;
    color: $lightGrey;
    
    &--margin{

    }
    // .pre-info__container

    &__container {
        background-color: $fullBlack;
        border-radius: toRem(16);
        @media(max-width: toEm(797)){
            border-radius: toRem(0);
        }
    }

    // .pre-info__body

    &__body {
        padding: toRem(92) toRem(72);
        display: grid;
        grid-template-columns: repeat(2, auto);
        //gap: toRem(50);
        //align-items: center;
        //justify-content: center;
        //justify-content: space-between;
    }

    // .pre-info__left

    &__left {
        max-width: toRem(557);
        //justify-self: start;
    }

    // .pre-info__over-title

    &__over-title {
        font-weight: 400;
        letter-spacing: toRem(0.5);
        margin-bottom: toRem(10);
    }

    // .pre-info__title

    &__title {
        @extend %title;
        font-size: toEm(64, 18);
        margin-bottom: toRem(24);
        i{
            color: $infoColor;
            font-style: normal;
        }
    }

    // .pre-info__text

    &__text {
        margin-bottom: toRem(40);
        font-weight: 400;
        letter-spacing: toRem(0.5);
    }

    // .pre-info__review

    &__review {
        display: flex;
        gap: toRem(12);
        align-items: center;
    }

    // .pre-info__profile

    &__profile {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        max-width: toRem(70);
        width: 100%;
        height: 100%;
    }

    // .pre-info__info

    &__info {
        display: flex;
        gap: toRem(5);
       flex-direction: column;
        align-items: flex-start;
    }

    // .pre-info__name

    &__name {
        font-size: toEm(20, 18);
        font-family:$secondFont;
        font-weight: 600;
    }

    // .pre-info__stars

    &__stars {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: toRem(2);
    }

    // .pre-info__right

    &__right {
        position: relative;
        width: 100%;
    }

    // .pre-info__main-img

    &__main-img {
        border-radius: toRem(20);
    }

    // .pre-info__content-img

    &__content-img {
        // position: absolute;
        // left: 0;
        // top: 0;
    }

    // .pre-info__second-img

    &__second-img {
        border-radius: toRem(20);
        position: absolute;
        left:toRem(81);
        top: toRem(34);
    }

    // .pre-info__first-img

    &__first-img {
        border-radius: toRem(20);
        position: absolute;
        left: toRem(153);
        top: toRem(66);
    }
}




// =============================================================
// =============================================================
//! FOOTER
//?-------------------------------------------------------------

.footer {
    background-color: $fullBlack;
    color: $lightGrey;
    font-family: $mainFont;
    font-size: toRem(18);
    padding-top: toEm(100, 18);
    padding-bottom: toEm(60, 18);
    @media(max-width: toEm(610)){
        padding-top: toEm(50, 18);
        padding-bottom: toEm(30, 18);
    }
    // .footer__container
   
    &__container {

    }

    // .footer__front

    &__front {
        display: grid;
        grid-auto-columns: max-content;
        grid-template-columns: repeat(4, auto);
        gap: toRem(35);
        // display: flex;
        // gap: toRem(35);
        // justify-content: space-between;
        // align-items: flex-start;
        padding-bottom: toRem(100);
        border-bottom: toRem(1) solid $lightGrey;
        @media(max-width: toEm(1078)){
            grid-template-columns: repeat(2, auto);
            justify-items: center;
            gap: toRem(50);
            padding-bottom: toRem(70);
        }
        @media(max-width: toEm(750)){
            grid-template-columns: repeat(1, auto);
            align-content: center;
            gap: toRem(50);
            & >:not(:last-child){
                border-bottom: toRem(2) solid $lightGrey;
                width: 100%;
                padding-bottom: toRem(50);
            }
        }
        @media(max-width: toEm(410)){
            padding-bottom: toRem(50);
        }
    }

    // .footer__area-logo

    &__area-logo {
        display: flex;
        gap: toRem(24);
        align-items: flex-start;
        flex-direction: column;
        @media(max-width: toEm(750)){
            flex-direction: row;
            justify-content: space-between;
            gap: toRem(50);
        }
        @media(max-width: toEm(510)){
            flex-direction: column;
            gap: toRem(24);
            align-items: center;
            text-align: center;
        }
    }

    // .footer__logo

    &__logo {
        display: flex;
        gap: toRem(13);
        align-items: center;
        h4{
            color: white;
            font-size: toEm(38, 18);
            font-family: $secondFont;
            font-weight: 600;
        }
    }

    // .footer__sub-text

    &__sub-text {
        max-width: toRem(357);
        p{
            font-weight: 400;
            letter-spacing: toRem(0.5);
        }
    }

    // .footer__menu

    &__menu {
        display: flex;
        gap: toRem(24);
        align-items: flex-start;
        flex-direction: column;
        @media(max-width: toEm(1078)){
            align-items: center;
        }
    }

    // .footer__title

    &__title {
        font-size: toEm(20, 18);
        font-family: $secondFont;
        font-weight: 600;
        @media(max-width: toEm(1078)){
            font-size: toEm(30, 18);
        }
        @media(max-width: toEm(750)){
            font-size: toEm(20, 18);
        }
    }

    // .footer__list

    &__list {
        display: flex;
        gap: toRem(16);
        align-items: flex-start;
        flex-direction: column;
        @media(max-width: toEm(1078)){
            font-size: toRem(22);
            // align-items: center;
            display: grid;
            grid-template-columns: repeat(2, auto); /* Дві колонки ширини контенту */
            gap: 19px; /* Відступ між елементами */
           // justify-items:start;
            width: 100%;
        }
        @media(max-width: toEm(750)){
            // flex-direction: row;
            // flex-wrap: wrap;
            // justify-content: center;
            grid-template-columns: repeat(3, auto); /* Дві колонки ширини контенту */
            gap: 19px; /* Відступ між елементами */
            justify-content: space-between; 
           // justify-items:start;
            width: 100%;
        }
        @media(max-width: toEm(543)){
            grid-template-columns: repeat(2, auto);
            justify-content: space-around; 
        }
        @media(max-width: toEm(423)){
            grid-template-columns: repeat(1, auto);
            justify-content: center; 
            justify-items: center;
        }
    }

    // .footer__item

    &__item {
        @media(hover:hover){
            &:hover{
                .footer__link-menu{
                    color: $whiteHover;
                    text-decoration-color: initial;
                }
            }
        }
    }

    // .footer__link-menu

    &__link-menu {
        transition: all 0.3s;
        text-decoration: underline;
        text-decoration-color: transparent;
    }

    // .footer__subscribe

    &__subscribe {
        display: flex;
        gap: toRem(19);
        align-items: flex-start;
        flex-direction: column;
        max-width: toRem(433);
        width: 100%;
        @media(max-width: toEm(1078)){
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        @media(max-width: toEm(750)){
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }

    // .footer__form

    &__form {
        position: relative;
        width: 100%;
        input{
            //width: toRem(433);
            height: toRem(67);
            border-radius: toRem(40);
            padding-left: toRem(20);
            max-width: toRem(433);
            min-width: toRem(360);
            width: 100%;
            @media(max-width: toEm(410)){
                height: toRem(50);
                min-width: toRem(290);
            }
            &::placeholder{
                color: $fullBlack;
                font-weight: 400;
                letter-spacing: toRem(0.5);
                @media(max-width: toEm(410)){
                    font-size: toRem(14);
                }
            }
        }
        button{
            background-color: red;
            position: absolute;
            top: 50%;
            display: block;
            right: toRem(10);
            //transform: translate(-50%, -50%);
            transform: translateY(-50%);
            color: $lightGrey;
            font-weight: 400;
            letter-spacing: toRem(0.5);
            background-color: $blackColor;
            padding: toRem(12) toRem(20);
            border-radius: toRem(20);
            transition: background-color 0.3s;
            @media(hover:hover){
                &:hover{
                    background-color: $whiteHover;
                }
            }
            @media(max-width: toEm(410)){
                padding: toRem(8) toRem(12);
                font-size: toRem(16);
            }
        }
    }

    // .footer__down

    &__down {
        padding-top: toRem(29);
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: toRem(20);
        justify-content: space-between;
        @media(max-width: toEm(1078)){
            grid-template-columns: repeat(2, auto);
            gap: toRem(50);
            justify-content: space-around;
        }
        @media(max-width: toEm(610)){
            grid-template-columns: repeat(1, auto);
            gap: toRem(30);
            justify-content: center;
            justify-items: center;
        }
    }

    // .footer__block

    &__block {
        display: flex;
        gap: toRem(16);
        flex-direction: column;
        align-items: flex-start;
        @media(max-width: toEm(610)){
            align-items: center;
            text-align: center;
        }
    }

    // .footer__sub-title

    &__sub-title {
        font-size: toRem(16);
        font-weight: 400;
        letter-spacing: toRem(0.5);
    }

    // .footer__social

    &__social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: toRem(29);
    }

    // .footer__link-social

    &__link-social {
        @media(hover:hover){
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
        }
        img{
            transition: transform 0.3s;
        }
    }
}
