/*! tablet */
/* @media (min-width: 1024px) {} */

/*! tablet */
/* @media (min-width: 767px) and (max-width: 1024px) {} */

/*! smart */
/* @media (max-width: 767px) {} */




/* @media (max-width: 1024px) {
    .header__form {
        display: none;
    }

    .header__body {
        gap: 15%;
        justify-content: flex-start;
    }

}

@media (max-width: 764px) {
    .header__body {
        justify-content: space-between;
    }

    .header__form,
    .header__list {
        display: none;
    }

    .header {
        padding: 10px;
    }

    .header__logo {
        width: 30px;
        flex: 0 1 30px;
    }

    .header__burger {
        display: block;
    }
}

@media (max-width: 1024px) {
    .page {
        padding-top: 120px;
    }
}

@media (max-width: 764px) {
    .page {
        padding-top: 70px;
    }
}

@media (max-width: 1024px) {
    .products__block {
        flex: 0 0 50%;
    }
}

@media (max-width: 676px) {
    .products__block {
        flex: 0 0 100%;
    }

    .products__link {
        padding: 12px 20px;
        background-color: #F55529;
        color: #000;
    }
}



@media (any-hover: hover) {

    .products__img {
        transition: all 0.3s;
    }

    .products__img:hover {
        transform: scale(1.1);
    }

    .products__icon-link {
        transition: all 0.2s;
    }

    .products__icon-link:hover {
        transform: scale(1.3);
    }

    .products__link:hover {
        text-decoration: underline;
    }

}

@media (max-width: 1024px) {
    .popular__block {
        flex: 0 0 50%;
    }
}

@media (max-width: 676px) {
    .popular__block {
        flex: 0 0 100%;
    }
}



@media (any-hover: hover) {

    .popular__img {
        transition: all 0.3s;
    }

    .popular__img:hover {
        transform: scale(1.1);
    }


}


@media (max-width: 1024px) {
    .our-product__block {
        flex: 0 0 50%;
    }
}

@media (max-width: 676px) {
    .our-product__block {
        flex: 0 0 100%;
    }

    .page__our-products {
        padding: 30px 0;
    }

    .our-product__item {
        font-size: 20px;
    }

    .our-product__item:not(:last-child) {
        margin-bottom: 15px;
    }

    .our-product__link-list {
        min-width: 150px;
    }

    .our-product__list {
        display: block;
        margin-bottom: 30px;
    }

    .our-product__link-list {
        padding: 10px 20px;
        background-color: rgba(14, 51, 61, 1);
        border: 1px solid #fff;
    }
}


@media (any-hover: hover) {

    .our-product__img {
        transition: all 0.3s;
    }

    .our-product__img:hover {
        transform: scale(1.1);
    }

    .our-product__link-list:hover {
        text-decoration: underline;
    }

}

@media (max-width: 1144px) {
    .page__background {

        display: none;
    }

    .page__inform {
        margin: 0 auto;
    }

    .inform__review {
        display: block;
    }

    .inform__review p {
        width: 100%;
    }

    .inform__review p:not(:last-child) {
        margin-bottom: 25px;
    }

    .inform__statistic {
        display: block;
    }

    .statistic__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .inform__review {
        text-align: center;
    }

    .inform__link-review {
        background-color: #40DDB6;
        color: black;
        padding: 20px 35px;
        font-size: 25px;
        font-family: Inter, sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        text-decoration: none;
    }
}

@media (max-width: 830px) {
    .page__inform {
        padding: 20px 0 30px 0;
    }


}

@media (max-width: 1973px) {
    .products__design {
        display: none;
    }
}

@media (min-width: 1280px) and (max-width:2200px) {
    [class*="_container"] {
        max-width: 1697px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .page__container--width {
        max-width: 1705px;
    }

    .page__container--wide {
        max-width: 1750px;
    }
} */