@import url("fonts.css");
@import url("reset.css");

body {
    color: #000000;
    font-size: 22px;
    font-family: Causten, sans-serif;
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class*="_container"] {
    max-width: 1197px;
    margin: 0 auto;
    padding: 0 15px;
}

.page__container--width {
    max-width: 1205px;
}

.page__container--wide {
    max-width: 1250px;
}

/* =================================== */




/* ------------------------------------------------------------------- */
/* ================================================================================= */
/* ================================================================================= */

.header {
    padding: 20px;
    background: rgb(255, 0, 0);
    background: linear-gradient(50deg, rgba(255, 0, 0, 1) 0%, rgba(210, 226, 7, 1) 100%);
}

.header--fixed {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 66;
}

.header__container {}

.header__body {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 60px;
    flex: 0 1 60px;
}

.header__list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.header__item {
    flex: 0 0 60px;
    padding: 10px 20px;
}

.header__link {}


.header__form {}

.form {}

.form__search {
    height: 40px;
    padding-left: 15px;
    font-family: Inter, san-serif;
    border-radius: 20px;
}

.header__burger {
    flex: 0 0 30px;
    display: none;
}

.burger__link {
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.burger__list {}

.burger__hide {
    position: absolute;
    background-color: #291403;
    right: 0;
    top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px 30px;
    width: 100%;
    border-bottom: 1px solid #F55529;
    display: none;
}

.burger__list {}

.burger__item {
    color: #ffffff;
}

.burger__item:not(:last-child) {
    margin-bottom: 10px;
}

.burger__link-item {
    background-color: #F55529;
    padding: 12px 20px;
    min-width: 150px;
    text-align: center;
}

.burger__close {
    position: absolute;
    right: 13px;
    top: 10px;
}

.close {
    max-width: 42px;
}

#hide-menu:target {
    display: block;
}

@media (max-width: 1000px) {
    .header__body {
        justify-content: space-between;
    }

    .header__form,
    .header__list {
        display: none;
    }

    .header {
        padding: 5px;
    }

    .header__logo {
        width: 20px;
        flex: 0 1 20px;
    }

    .header__burger {
        display: block;
    }
}

/* ==================================== */
.page {
    padding-top: 150px;
}

@media (max-width: 1000px) {
    .page {
        padding-top: 70px;
    }
}


/* ========================================= */





.page__container {}

.page__body {}

.page__main-margin {
    margin-bottom: 55px;
}


.page__products {
    color: black;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 1.5;

}

.products {}


.products__design {
    position: absolute;
    right: 0;
    top: 510px;
}

.products__title,
.products__label {
    color: black;
    font-size: 58px;
    font-family: DM Serif Text, sans-serif;
    font-weight: 400;
    line-height: 1;
}

.products__title {
    margin-bottom: 27px;
}

.products__sub-title {
    color: #606060;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 35px;
}



.products__content {
    display: flex;
    margin: 0 -24px;
    row-gap: 40px;
    flex-wrap: wrap;
}




.products__block {
    flex: 0 0 33.3333%;
    padding: 0 24px;
    min-height: 100%;
}


.products__link-img {
    /* overflow: hidden;
    flex: 1 0 357px;
    margin-bottom: 15px; */
    width: 100%;
    aspect-ratio: 357 / 240;
    object-fit: cover;
    flex: 0 0 357px;
    margin-bottom: 15px;
    overflow: hidden;
}

.products__img {
    width: 100%;
    aspect-ratio: 357 / 240;
    object-fit: cover;
    /* flex: 0 0 357px;
    margin-bottom: 15px; */
    /* width: 100%;
    aspect-ratio: 357 / 240;
    object-fit: cover; */
}

.products__label {
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 10px;
}

.products__text {
    font-weight: 300;
    margin-bottom: 8px;
}

.products__read-more {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.products__link {
    color: #F55529;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    line-height: 1.5;
}

.products__img-link {
    /* width: 100%;
    max-width: 28px;
    aspect-ratio: 28 / 28;
    object-fit: cover;
    border-radius: 50%; */
}

.products__icon-link {
    /* height: 100%; */
    width: 100%;
    max-width: 28px;
    aspect-ratio: 28 / 28;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 1444px) {
    .products__design {
        display: none;
    }
}

@media (max-width: 1000px) {
    .products__block {
        flex: 0 0 50%;
    }
}

@media (max-width: 650px) {
    .products__block {
        flex: 0 0 100%;
    }

    .products__link {
        padding: 12px 20px;
        background-color: #F55529;
        color: #000;
    }
}



@media (any-hover: hover) {

    .products__img {
        transition: all 0.3s;
    }

    .products__img:hover {
        transform: scale(1.1);
    }

    .products__icon-link {
        transition: all 0.2s;
    }

    .products__icon-link:hover {
        transform: scale(1.3);
    }

    .products__link:hover {
        text-decoration: underline;
    }

}



/* ======================================= */

.page__container--margin {
    margin-bottom: 55px;
}

.page__container-popular {}

.page__popular {
    color: black;
    font-size: 24px;
    font-family: Cormorant Infant, sans-serif;
    font-weight: 700;
}

.popular {}

.popular__body {}

.popular__name {
    text-align: center;
}

.popular__title {
    color: #291403;
    font-size: 58px;
    font-family: DM Serif Text, sans-serif;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 27px;
}

.popular__sub-title {
    color: #818181;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 62px;
}

.popular__content {
    display: flex;
    margin: 0 -15px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.popular__block {
    flex: 0 0 25%;
    padding: 0 15px;
    min-height: 100%;
}


.popular__products {}

.popular__content {}

.popular__block {}

.popular__link-img {
    width: 100%;
    aspect-ratio: 270 / 271;
    object-fit: cover;
    flex: 0 0 270px;
    margin-bottom: 17px;
    overflow: hidden;
}

.popular__img {
    width: 100%;
    aspect-ratio: 270 / 271;
    object-fit: cover;
}

.popular__link-img {}

.popular__img {}

.popular__decription {
    margin-bottom: 8px;
}

.popular__price {}


@media (max-width: 1000px) {
    .popular__block {
        flex: 0 0 50%;
    }
}

@media (max-width: 650px) {
    .popular__block {
        flex: 0 0 100%;
    }
}



@media (any-hover: hover) {

    .popular__img {
        transition: all 0.3s;
    }

    .popular__img:hover {
        transform: scale(1.1);
    }


}

/* ======================================= */

.page__our-products {
    background-color: rgba(14, 51, 61, 1);
    padding: 94px 0;
}

.page__container {}

.page__container--width {}

.page__our-product {
    color: white;
    font-size: 24px;
    font-family: Cormorant Infant, sans-serif;
    font-weight: 700;

}

.our-product {}

.our-product__name {
    text-align: center;
}

.our-product__title {
    color: white;
    font-size: 48px;
    font-family: DM Serif Text, sans-serif;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 23px;
}

.our-product__sub-title {
    color: #EBEBEB;
    font-size: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 34px;
}

.our-product__list {
    display: flex;
    justify-content: center;
    gap: 3.5%;
    margin-bottom: 77px;
}

.our-product__item {
    color: white;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    line-height: 1.22;
}

.our-product__link-list {}


.our-product__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 20px;
}

.our-product__block {
    flex: 0 0 25%;
    padding: 0 15px;
}

.our-product__link-img {
    width: 100%;
    aspect-ratio: 270 / 271;
    object-fit: cover;
    flex: 0 0 270px;
    margin-bottom: 17px;
    overflow: hidden;
    border-radius: 5px;
}

.our-product__img {
    width: 100%;
    aspect-ratio: 270 / 271;
    object-fit: cover;
}

.our-product__description {
    margin-bottom: 10px;
}

.our-product__price {}

@media (max-width: 1000px) {
    .our-product__block {
        flex: 0 0 50%;
    }
}

@media (max-width: 650px) {
    .our-product__block {
        flex: 0 0 100%;
    }

    .page__our-products {
        padding: 30px 0;
    }

    .our-product__item {
        font-size: 20px;
    }

    .our-product__list {
        margin-bottom: 30px;
    }

    .our-product__link-list {
        padding: 10px 20px;
        background-color: rgba(14, 51, 61, 1);
        border: 1px solid #fff;
    }
}


@media (any-hover: hover) {

    .our-product__img {
        transition: all 0.3s;
    }

    .our-product__img:hover {
        transform: scale(1.1);
    }

    .our-product__link-list:hover {
        text-decoration: underline;
    }

}

/* ===================================== */

.page__consalt {
    position: relative;
    left: 0;
    width: 100%;
    background-color: rgba(55, 57, 63, 1);
    min-height: 741px;
}

.page__background {
    position: absolute;
    right: 0;
    /* width: 100%;
    height: 100%; */
    aspect-ratio: 868 / 741;
    object-fit: cover;
    height: 100%;
    max-width: 45%;
}

.page__container {}

.page__container--wide {}



.page__inform {
    position: relative;
    z-index: 30;
    color: white;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    padding-top: 138px;
    padding-bottom: 137px;
    max-width: 609px;
}

.inform {}

.inform__over-title {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 13px;
}

.inform__over-title::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: rgba(64, 221, 182, 1);
}

.inform__title {
    color: white;
    font-size: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 13px;
}

.inform__text {
    margin-bottom: 36px;
}

.inform__text p {
    font-weight: 400;
    line-height: 1.4;
}

.inform__text p:not(:last-child) {
    margin-bottom: 8px;
}

.inform__statistic {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.statistic {}

.statistic__block {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 27px 30px;
    background-color: rgba(46, 47, 52, 1);
}

.statistic__img {}

.statistic__caption {}

.statistic__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 5px;
}

.statistic__stat {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

.inform__review {
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    /* max-width: 425px; */
    flex-wrap: wrap;
    gap: 37px;
    row-gap: 23px;
}

.inform__review p {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 279px;
}

.inform__review p::before {
    content: '';
    width: 27px;
    height: 27px;
    flex: 0 0 27px;
    background: url('../img/page/main/vector.svg') 0 0 / cover no-repeat;
}

.star {
    color: #FFB342
}

/* .star{
    pos
}
.star:after {
    width: 17px;
    height: 17px;
    background: url('../img/page/main/star.svg') 0 0 / cover no-repeat;
    content: '';
} */

.inform__span {
    font-weight: 700;
}

.inform__link-review {
    color: #40DDB6;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: underline;
}

@media (max-width: 1144px) {
    .page__background {
        /* position: absolute;
        right: 0;
        aspect-ratio: 868 / 741;
        object-fit: cover;
        height: 100%;
        width: 25%; */
        display: none;
    }

    .page__inform {
        margin: 0 auto;
    }

    .inform__review {
        display: block;
    }

    .inform__review p {
        width: 100%;
    }

    .inform__review p:not(:last-child) {
        margin-bottom: 25px;
    }

    .inform__statistic {
        display: block;
    }

    .statistic__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .inform__review {
        text-align: center;
    }

    .inform__link-review {
        background-color: #40DDB6;
        color: black;
        padding: 20px 35px;
        font-size: 25px;
        font-family: Inter, sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        text-decoration: none;
    }
}

@media (max-width: 830px) {
    .page__inform {
        padding: 20px 0 30px 0;
    }

    /* 
    .inform__link-review {
        background-color: #40DDB6;
        color: black;
        padding: 20px 35px;
        font-size: 25px;
        font-family: Inter, sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        text-decoration: none;
    } */
}

/* ================================================================================= */
/* ================================================================================= */
/* ================================================================================= */
/* ================================================================================= */
/* ================================================================================= */
/* ================================================================================= */
/* ================================= */
/* ================================= */

.footer {
    background-color: #3C4242;
}

.footer__container {}

.footer__body {
    padding: 30px;
    text-align: center;
}

.footer__title {
    font-size: 30px;
    color: #fff;
    font-family: Poppins, serif;
    font-weight: 600;
}