@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
select {
  border-radius: 0;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Bold.woff2") format("woff2"), url("../fonts/causten/Causten-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/causten/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Medium.woff2") format("woff2"), url("../fonts/causten/Causten-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Regular.woff2") format("woff2"), url("../fonts/causten/Causten-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core_sans/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/core_sans/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core_sans/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/core_sans/CoreSansC-65Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core_sans/CoreSansC-85Heavy.woff2") format("woff2"), url("../fonts/core_sans/CoreSansC-85Heavy.woff") format("woff");
  font-weight: 800;
}
/* Causten 500 700 600 400 */
/* Core Sans 65  500 600  700 800 */
/* Montserrat 800 */
/*
Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або 
значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black
*/
.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1267px;
  margin: 0 auto;
  padding: 0 15px;
}

.header--fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 90;
}
.header__up {
  background-color: #37393F;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 1.5714285714em 0;
}
@media (max-width: 73em) {
  .header__up {
    font-size: 0.75rem;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.4285714286em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.625em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6428571429em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.1428571429em;
}
.header__container-down {
  display: grid;
  font-size: 1.125rem;
  grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
  gap: 2.8571428571em;
  padding: 1.6666666667em;
}
@media (max-width: 73em) {
  .header__container-down {
    font-size: 0.875rem;
  }
}
.header__logo {
  justify-self: start;
}
.header__main-link {
  padding: 1.1666666667em 1.9444444444em;
  color: #fff;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6B78E5;
}
.header__burger {
  width: 3.8888888889em;
  height: 2.7777777778em;
  display: none;
}
@media (max-width: 73em) {
  .header__burger {
    display: block;
    justify-self: end;
    position: relative;
  }
  .header__burger::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 0.3125rem;
    background-color: #37393F;
  }
  .header__burger::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.3125rem;
    background-color: #37393F;
  }
  .header__burger span {
    left: 0;
    position: absolute;
    top: calc(50% - 0.125rem);
    width: 100%;
    height: 0.3125rem;
    background-color: #37393F;
  }
}

@media (max-width: 73em) {
  .menu {
    position: fixed;
    width: 100%;
    background-color: #40DDB6;
    left: 0;
    z-index: 1;
    top: 0;
    height: 100svh;
    padding: 2.7777777778em 8.3333333333em;
  }
}
.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.menu__link {
  color: #37393F;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2777777778em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}