@import url("fonts.css");

@import url("reset.css");

.game {
    max-width: 1400px;
    height: auto;
    background-color: bisque;
    margin: 0 auto;
    margin-top: 50px;
    background: url("../img/sand.jpg") 0 0 / cover no-repeat;
    margin-bottom: 100px;
}

.block-1 {
    width: 100px;
    height: 200px;
    background: url("../img/block.jpg") 0 0 / cover no-repeat;
    margin-left: 100px;
}

.block-2 {
    width: 1200px;
    height: 100px;
    background: url("../img/block.jpg") 0 0 / 25% repeat;
    margin: 0 0 0 100px;
    visibility: hidden;
}

.block-3 {
    width: 70px;
    height: 200px;
    background: url("../img/block.jpg") 0 0 / cover no-repeat;
    margin-left: 1230px;
    visibility: hidden;
}

.block-4 {
    width: 1100px;
    height: 50px;
    background: url("../img/block.jpg") 0 0 / 20% repeat;
    margin-left: 200px;
    visibility: hidden;
}

.block-5 {
    width: 40px;
    height: 100px;
    background: url("../img/block.jpg") 0 0 / cover no-repeat;
    margin-left: 200px;
    visibility: hidden;
}

.block-6 {
    width: 800px;
    height: 30px;
    background: url("../img/block.jpg") 0 0 / 20% repeat;
    margin-left: 200px;
    visibility: hidden;
}

.block-7 {
    width: 30px;
    height: 50px;
    background: url("../img/block.jpg") 0 0 / cover no-repeat;
    margin-left: 970px;
    visibility: hidden;
}

.block-8 {
    width: 700px;
    height: 30px;
    background: url("../img/block.jpg") 0 0 / 15% repeat;
    margin-left: 300px;
    visibility: hidden;
}

.block-9 {
    width: 20px;
    height: 100px;
    background: url("../img/block.jpg") 0 0 / cover no-repeat;
    margin-left: 300px;
    visibility: hidden;
}

.block-10 {
    width: 30px;
    height: 60px;
    background: url("../img/block.jpg") 0 0 / cover no-repeat;
    margin-left: 295px;
    visibility: hidden;
}

/* 
.face {
    position: absolute;
    right: 300px;
    top: 700px;
    visibility: hidden;
} */


.block-1:hover~.block-2,
.block-2:hover,
.block-2:hover~.block-3,
.block-3:hover,
.block-3:hover~.block-4,
.block-4:hover,
.block-4:hover~.block-5,
.block-5:hover,
.block-5:hover~.block-6,
.block-6:hover,
.block-6:hover~.block-7,
.block-7:hover,
.block-7:hover~.block-8,
.block-8:hover,
.block-8:hover~.face,
.block-9:hover~.face,
.block-8:hover~.block-9,
.block-9:hover,
.block-9:hover~.block-10,
.block-10:hover {
    visibility: visible;
}

.block-10:hover~.exit,
.exit:hover {
    opacity: 1;
}

.exit {
    max-width: 200px;
    margin-left: 205px;
    border-radius: 5px;
    opacity: 0.1;
}




.experiments {
    max-width: 1500px;
    height: auto;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.experiments h2 {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experiments h3 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.links {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    border: 2px solid red;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}


.links a:not(:last-child) {
    margin-right: 20px;
}

.links a:last-child {
    color: red;
}

.links a:first-child:hover {
    color: rgb(168, 96, 168)
}

.links a:nth-child(2):active {
    color: rgb(233, 218, 14)
}

.links a:nth-child(3):visited {
    color: rgb(112, 111, 89)
}

.links a:nth-child(4):focus {
    outline: 2px solid red;
}

.box {
    max-width: 800px;
    height: 100px;
    background-color: darkgoldenrod;
}

.box:target {
    background-color: rgb(255, 255, 255);
}

.some-text {
    font-size: 18px;
    max-width: 1000px;
    height: auto;
    outline: 2px solid red;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

.some-text p:not(:last-child) {
    margin-bottom: 20px;
}


.some-text p:first-child {
    color: red;
}

.some-text p:last-of-type {
    background-color: chartreuse;
}


.some-text p:nth-child(3n + 2) {
    background-color: rgba(197, 164, 56, 0.795);
}

.some-text p:nth-child(3n + 3) {
    background-color: rgba(148, 197, 56, 0.795);
}






.any-text {
    font-size: 20px;
    max-width: 1200px;
    height: auto;
    outline: 2px solid red;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

.any-text p:not(:last-child) {
    margin-bottom: 20px;
}

.text1::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/vehicle.png") 0 0 / cover no-repeat;
    margin-right: 5px;
    display: inline-block;
    opacity: 0.5;
}

.text1:hover::before {
    opacity: 1;
    width: 25px;
    height: 25px;
}

.any-text p::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/vehicle.png") 0 0 / cover no-repeat;
    margin-right: 5px;
    display: inline-block;
}

.any-text p::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(233, 218, 14);
    margin-left: 5px;
    display: inline-block;
}





/* block1 */

.block1 {
    max-width: 692px;
    margin: 0 auto;
    font-size: 18px;
    color: #7D7D7D;
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin-bottom: 100px;
}

.block1__title {
    color: #37393F;
    font-size: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 15px;
}




.text {
    line-height: 1.46;
    margin-bottom: 42px;
    font-size: 18px;
    color: #7D7D7D;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.text p:not(:last-child) {
    margin-bottom: 15px;
}

.block1__sub-title {
    color: #6B77E5;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 15px;
}

.block1__place-image {
    font-size: 0;
    margin-bottom: 48px;
}


.img__block1 {
    display: inline-block;
    vertical-align: top;
    background: url("../img/photo1.jpg") 0 0 / cover no-repeat;
    width: 331px;
    height: 265px;
}

.right-place {
    display: inline-block;
    vertical-align: top;
    width: 332px;
    margin-left: 29px;
}

.list-sub-title {
    color: #40DDB6;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 21px;
}

.list {}

.list li:not(:last-child) {
    margin-bottom: 30px;
}

.item {
    color: #7D7D7D;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 400;

}

.item::before {
    content: "";
    width: 28px;
    height: 28px;
    background: url("../img/vector.svg") 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}


/* block1 */



/* block2 */
.block2 {
    max-width: 673px;
    margin: 0 auto;
    color: #37393F;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin-bottom: 100px;
}

.over-title h5 {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 25px;
}

.over-title h5::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: rgba(64, 221, 182, 1);
    display: inline-block;
    margin-right: 5px;
}

.block2__title {
    color: #37393F;
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}


.container {
    border: 1px solid rgba(55, 57, 63, 1);
    padding: 28px 41px 28px 38px;
    margin-bottom: 31px;
}

.cont-title {
    color: #37393F;
    font-size: 20px;
    font-family: Poppins, sanse-serif;
    font-weight: 600;
}


.text__container {
    color: #7D7D7D;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.44;
    padding-left: 46px;
}

.cont-title::before {
    content: "";
    width: 28px;
    height: 28px;
    background: url("../img/vector.svg") 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px;
}

.link {
    display: inline-block;
    width: 200px;
    max-height: 65px;
    background-color: rgba(107, 119, 229, 1);
    padding: 22px 35px;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}

.link:hover {
    background-color: rgb(83, 98, 235);
}

/* block2 */


/* block3 */

/* .over-title__block3 h5 {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 25px;
} */



.block3 {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin-bottom: 100px;
    /* text-align: center; */
}



.over-title__block3 h5 {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 15px;
}

.over-title__block3 h5::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: rgba(64, 221, 182, 1);
    display: inline-block;
    margin-right: 5px;
}

.over-title__block3 {
    text-align: center;
}




.title__block3 {
    color: #37393F;
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 76px;
    text-align: center;
}

.sections {
    font-size: 0;
}

.section-1,
.section-2,
.section-3 {
    max-width: 386px;
    background-color: #F4F4F4;
    padding: 58px 43px 58px 43px;
    text-align: center;
    display: inline-block;
}

.section-1,
.section-2 {
    margin-right: 31px;
}

/* .section-1,
.section-2,
.section-3:not(:last-child) {
    margin-right: 10px;
} */

.icon {
    margin-top: -95px;
}

.title__section {
    color: #37393F;
    font-size: 25px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 1.24;
    margin-bottom: 16px;
}

.text__section p {
    color: #7D7D7D;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 1.44;
}

.text__section p:not(:last-child) {
    margin-bottom: 15px;
}

.text__section {
    margin-bottom: 37px;
}

.link__section {
    color: #6B77E5;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}

.link__section:hover {
    color: #3949df;
    text-decoration: underline;
}

/* .link__section:visited {
    color: #848ee6;
} */


/* block3 */




/* block4 */

.block4 {
    max-width: 1214px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-family: Cormorant Infant, sans-serif;
    font-weight: 700;
    color: black;
    font-size: 0;
}

.left-place {
    max-width: 480px;
    display: inline-block;
    padding-top: 164px;
    font-size: 0;
    vertical-align: top;
}

.title__block4 {
    font-size: 60px;
    line-height: 1.15;
}

.title__block4::after {
    content: "";
    display: block;
    margin-top: 13px;
    height: 2px;
    width: 80%;
    background-color: rgba(120, 71, 59, 1);
}

.right-place-block4 {
    font-size: 0;
    display: inline-block;
    margin-left: 0;
}


.column1,
.column2 {
    padding-top: 32px;
    max-width: 344px;
    display: inline-block;
    margin-right: 55px;
    vertical-align: top;
}

.column2 {
    margin-right: 0;
    padding-top: 0;
}

.image1,
.image2 {
    border: 1px solid rgba(120, 71, 59, 1);
    max-width: 334px;
    margin-bottom: 25px;
}

.img1,
.img2 {
    max-width: 334px;
    margin-top: 9px;
    margin-bottom: -9px;
    margin-right: -10px;
    margin-left: 10px;
}


.description {
    font-size: 24px;
    font-family: Cormorant Infant, sans-serif;
    font-weight: 700;
    line-height: 1.37;
    margin-bottom: 8px;
}

.description p:not(:last-child) {
    margin-bottom: 8px;
}

.price p {
    font-size: 24px;
    font-family: Cormorant Infant, sans-serif;
    font-weight: 700;
    line-height: 1.37;
}

.price p:not(:last-child) {
    margin-bottom: 6px;
}

.column__title {
    font-size: 46px;
    font-family: Cormorant Infant, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 40px;
}