@import url("fonts.css");
@import url("reset.css");

body {
    color: #807D7E;
    font-size: 22px;
    font-family: Causten, sans-serif;
    font-weight: 500;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
}

div[class*="_container"] {
    max-width: 1237px;
    margin: 0 auto;
}

.header--fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 60;
}

.header {
    padding: 31px 151px;
    border-bottom: 2px solid rgba(190, 188, 189, 1);
    background-color: #fff;
}


.header__body {
    font-size: 0;

}


.header__logo,
.header__menu,
.header__search,
.header__social {
    display: inline-block;
}


.header__logo {
    vertical-align: middle;
    margin-right: 88px;
    max-width: 91px;
}

.header__logo {
    max-height: 100%;
}

.header__menu {
    margin-right: 75px;
}

.menu {}

.menu__item {
    display: inline-block;
    vertical-align: middle;
}

.menu__item:not(:last-child) {
    margin-right: 40px;
}

.menu__link {
    font-size: 22px;
    color: #807D7E;
}

.menu__link:hover {
    color: #3C4242;
}

.header__search {
    padding: 12px 20px;
    background-color: rgba(246, 246, 246, 1);
    min-width: 265px;
    border-radius: 8px;
    margin-right: 76px;
    border: 1px solid transparent;
}

.header__search:hover {
    border: 1px solid #3C4242;
}

.header__icon-search,
.header__text-search {
    display: inline-block;
    vertical-align: middle;
}

.header__icon-search {
    margin-right: 12px;
}

.header__text-search {
    font-size: 16px;
    font-weight: 400;
}

.header__social {}

.header__link {
    display: inline-block;
    vertical-align: middle;

}

.header__link:not(:last-child) {
    margin-right: 12px;

}

.header__icon-link {
    background-color: rgba(246, 246, 246, 1);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
}

.header__icon-link:hover {
    border: 1px solid #3C4242;
}




.page {
    padding-top: 150px;
}

.page__container {}

.page__body {}

.page__laboratory {
    perspective: 1000px;
    margin-bottom: 70px;
}

.page__title {
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #3C4242;
    margin-bottom: 30px;
    position: relative;
}

.page__sub-title {
    margin-bottom: 30px;
}

.page__title::before {
    content: 'Hover It';
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 40px;
    left: 3px;
}

.page__block {
    font-size: 0;
    margin-bottom: 40px;
    perspective: 1000px;
}

.page__item,
.page__item-li {
    display: inline-block;
    vertical-align: middle;
}

.page__item:not(:last-child) {
    margin-right: 30px;
}

.page__item-li:not(:last-child) {
    margin-right: 30px;
}

.page__block-item {
    max-width: 150px;
    min-width: 150px;
    height: 150px;
    background-color: rgb(107, 103, 98);
    text-align: center;
    perspective: 800px;
}

.page__property {
    font-size: 22px;
    max-width: 100%;
    height: 100%;
    background-color: burlywood;
    padding: 10px;
    /* transition: all 0.5s; */
}

.page__item:nth-child(1):hover .page__property {
    transform: translate(20px, 20px);
}

.page__item:nth-child(2):hover .page__property {
    transform: scale(0.7);
}

.page__item:nth-child(3):hover .page__property {
    transform: rotate(-20deg);
}

.page__item:nth-child(4):hover .page__property {
    transform: skew(20deg, 10deg);
}

.page__item:nth-child(5):hover .page__property {
    transform: rotate(20deg) scale(0.5);
}

.page__item:nth-child(6):hover .page__property {
    transform-origin: 20px 50px;
    transform: rotate(90deg) translate(30px, 20px);
}



.page__item-li:nth-child(1):hover .page__property {
    transform: translate3d(20px, 20px, 50px);
}

.page__item-li:nth-child(2):hover .page__property {
    transform: scale3d(0.7, 2, 2);
}

.page__item-li:nth-child(3):hover .page__property {
    transform: rotate3d(1, 1, 2, 160deg);
}

.page__item-li:nth-child(4):hover .page__property {
    transform: rotateX(60deg);
}

.page__item-li:nth-child(5):hover .page__property {
    transform-origin: 100px 150px;
    transform: rotate3d(1, 5, 2, 60deg);
}




.page__item-li:nth-child(6) .page__block-item {
    max-width: 150px;
    min-width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
    perspective: 5000px;
}

.page__item-li:nth-child(6) .page__property {
    transform: rotateY(0deg);
    /* transition: all 1s; */
    backface-visibility: hidden;
}

.page__item-li:nth-child(6) .page__block-item {
    background-color: transparent;
}


.page__item-li:nth-child(6) .page__property,
.page__item-li:nth-child(6) .page__property-back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.page__item-li:nth-child(6) .page__property-back {
    background-color: rgb(0, 0, 0);
    transform: rotateY(-180deg);
    /* transition: all 1s; */
    color: #fff;
}


.page__item-li:hover .page__property {
    transform: rotateY(180deg);
}

.page__item-li:hover .page__property-back {
    transform: rotateY(0deg);
}






/* .page__block-item,
.page__property {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.page__block-item {
    background-color: rgb(245, 163, 163);
    transform: rotateY(-180deg);
    transition: all 1s;
}

.page__property {
    background-color: rgb(143, 102, 41);
    transform: rotateY(0deg);
    transition: all 1s;
    backface-visibility: hidden;
}

.page__item-li:nth-child(4):hover .page__property {
    transform: rotateY(180deg);
}

.page__item-li:nth-child(4):hover .page__block-item {
    transform: rotateY(0deg);
} */




/* .block {
    display: none;
}

.block__body {
    width: 400px;
    height: 600px;
    position: relative;
    perspective: 5000px;
}

.block__back,
.block__front {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    font-size: 40px;
    text-align: center;
    border-radius: 50px;
}

.block__back {
    background-color: rgb(245, 163, 163);
    transform: rotateY(-180deg);
  
}

.block__front {
    background-color: rgb(143, 102, 41);
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.block__body:hover .block__front {
    transform: rotateY(180deg);
}

.block__body:hover .block__back {
    transform: rotateY(0deg);
} */



.page--margin {
    margin-bottom: 70px;
}



.page__title-car {
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #3C4242;
    margin-bottom: 30px;
    position: relative;
}

.car {
    max-width: 1000px;
    margin: 0 auto;
    /* transform: scale(-1, 1); */
}

.car__body {
    max-width: 100%;
    height: 600px;
    background-color: rgb(133, 168, 221);
    position: relative;
}

.tracktor {
    position: absolute;
    left: 100px;
    top: 300px;
    width: 300px;
    height: 150px;
    background-color: #ecebe4;
    border-radius: 30% 0 0 0;
    z-index: 2;
}

.door {
    position: absolute;
    left: 200px;
    top: 200px;
    border-bottom: 100px solid #919191;
    border-left: 65px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 205px;
    z-index: 2;
    transform: scale(0.8);

}

.door-2 {
    position: absolute;
    left: 215px;
    top: 300px;
    width: 170px;
    height: 140px;
    z-index: 2;
    border: 1px solid #000;
}

.f1 {
    position: absolute;
    left: 400px;
    top: 300px;
    width: 400px;
    height: 150px;
    background-color: #ecebe4;
    border-radius: 0 0 20px 0;
    border: 1px solid #000;
    z-index: 3;
}

.f2 {
    position: absolute;
    left: 195px;
    top: 202px;
    border-bottom: 100px solid #ecebe4;
    border-left: 65px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 205px;

}

.f3 {
    position: absolute;
    left: 320px;
    top: 320px;
    height: 20px;
    width: 50px;
    background-color: #000;
    z-index: 5;
}


.f4 {
    position: absolute;
    left: 100px;
    top: 420px;
    height: 20px;
    width: 700px;
    background-color: #000;
    border-radius: 0 0 30% 0;
    z-index: 4;
}

.f5 {
    position: absolute;
    left: 200px;
    top: 260px;
    height: 50px;
    width: 20px;
    background-color: #000;
    transform: rotate(-10deg);
    border-radius: 50% 0 0 50%;
    border-right: 4px solid grey;
    z-index: 3;
}

.f6 {
    position: absolute;
    left: 400px;
    top: 310px;
    height: 20px;
    width: 400px;
    background-color: #000;
    z-index: 4;

}



.light-hover {
    position: absolute;
    left: -210px;
    top: 122px;
    border-bottom: 530px solid rgba(233, 233, 7, 0.89);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    height: 0;
    width: 105px;
    transform: rotate(85deg);
    visibility: hidden;
}

.light:hover~.light-hover {
    visibility: visible;
}

.wheel-one,
.wheel-two {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: rgb(0, 0, 0);
    border: 5px solid transparent;
    border-radius: 50%;
    bottom: 88px;
    z-index: 5;
}

.wheel-one {
    left: 595px;
}

.wheel-two {
    left: 143px;

}

.division {
    position: relative;
    width: 70px;
    height: 70px;
    left: 25px;
    top: 24px;
    background-color: rgb(0, 0, 0);
    border: 20px solid rgb(148, 148, 148);
    border-radius: 50%;
}

.light {
    width: 30px;
    height: 40px;
    position: absolute;
    left: 100px;
    top: 345px;
    background: rgb(255, 255, 255);
    z-index: 3;
}

.light:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(207, 207, 2);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.light:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(255, 255, 255);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.border1 {
    position: absolute;
    left: 230px;
    top: 285px;
    width: 155px;
    height: 10px;
    background-color: #000;
    z-index: 3;
}

.border2 {
    position: absolute;
    left: 375px;
    top: 210px;
    width: 10px;
    height: 80px;
    background-color: #000;
    z-index: 3;

}

.border3 {
    position: absolute;
    left: 246px;
    top: 205px;
    width: 10px;
    height: 95px;
    background-color: #000;
    z-index: 3;
    transform: rotate(33deg);
}

.border4 {
    position: absolute;
    left: 273px;
    top: 210px;
    width: 110px;
    height: 10px;
    background-color: #000;
    z-index: 3;
}

.border5 {
    position: absolute;
    left: 227px;
    top: 195px;
    width: 5px;
    height: 115px;
    background-color: #000;
    z-index: 2;
    transform: rotate(33deg);
}


.mini-fara {
    position: absolute;
    left: 100px;
    top: 415px;
    width: 15px;
    height: 30px;
    background-color: rgb(219, 148, 66);
    border-radius: 5px;
    z-index: 4;
}

.mini-fara-back {
    position: absolute;
    left: 783px;
    top: 390px;
    width: 15px;
    height: 30px;
    background-color: rgb(219, 148, 66);
    border-radius: 1px;
    z-index: 4;
    outline: 2px solid red;
}


.box {
    position: absolute;
    left: 450px;
    top: 100px;
    width: 300px;
    height: 300px;
    background-color: rgb(219, 148, 66);
    padding: 20px;
    padding-top: 50px;
    text-align: center;
}

.box p {
    color: #000;
    font-size: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
}

.line1 {
    position: absolute;
    left: 450px;
    top: 100px;
    width: 300px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    z-index: 5;
}

.line2 {}

.logo-posh {
    position: absolute;
    transform: rotate(45deg);
    left: 570px;
    top: 200px;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}

.logo-text {
    width: 70px;
    height: 70px;
    left: 570px;
    top: 187px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    position: absolute;
    z-index: 10;
    font-size: 100px;
    color: rgb(219, 148, 66);
}


.road {
    position: absolute;
    left: 0;
    top: 420px;
    width: 100%;
    height: 120px;
    background-color: rgb(53, 52, 52);
    z-index: 1;
}


.road-line {
    position: absolute;
    left: 0;
    top: 465px;
    width: 100%;
    height: 12px;
    background-color: rgba(44, 44, 44, 0.774);
    border-top: 4px solid rgb(255, 208, 0);
    border-bottom: 5px solid rgb(255, 208, 0);
    z-index: 1;
}


.car__front {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 800px;
}

.car__front img {
    max-width: 100%;
}




.footer {
    background-color: #3C4242;
}

.footer__container {}

.footer__body {
    padding: 30px;
    text-align: center;
}

.footer__title {
    font-size: 30px;
    color: #fff;
    font-family: Poppins, serif;
    font-weight: 600;
}