@font-face {
    font-family: "billie";
    src: url("../fonts/billie-sight.woff2") format("woff2"),
        url("../fonts/billie-sight.woff") format("woff");
}

@font-face {
    font-family: "ink";
    src: url("../fonts/ink-pearcer.woff2") format("woff2"),
        url("../fonts/ink-pearcer.woff") format("woff");
}