@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");

@font-face {
    font-family: "billie";
    src: url("../fonts/billie-sight.woff2") format("woff2"),
        url("../fonts/billie-sight.woff") format("woff");
}

@font-face {
    font-family: "ink";
    src: url("../fonts/ink-pearcer.woff2") format("woff2"),
        url("../fonts/ink-pearcer.woff") format("woff");
}